<div class="container">
  <div class="nav">
    <div class="row">
      <h1>推演服务</h1>
    </div>
    <div class="row">
      <div class="text">
        <span>场景名称: </span>
        <span>{{job?.sencesName}}</span>
      </div>
      <div class="text">
        <span>算法: </span>
        <span>{{job?.chainId}}</span>
      </div>
      <div class="text">
        <span>训练任务: </span>
        <span>{{job?.jobName}}</span>
      </div>
      <div class="text">
        <span>创建时间: </span>
        <span>{{job?.createTime| date}}</span>
      </div>
      <div class="button_location">
        <a href="#" class="button" onclick="return false" (click)="showAdd=true;currentId=-1">新增推演</a>
        <a href="#" class="back" onclick="return false" (click)="back()">返回</a>
      </div>
    </div>
  </div>
  <div class="tableContainer">
    <table class="table">
      <th>推演名称</th>
      <th>创建时间</th>
      <th>上传路径</th>
      <th>显示结果</th>
      <th>进度</th>
      <tr *ngFor="let model of ModelInfo;let i = index;"  [ngClass]="{'currentRow': model.id==currentId}">
        <td>{{model.predictionName}}</td>
        <td>{{model.sencesName}}</td>
        <td>{{model.createTime==null?'无设置':model.createTime}}</td>
        <td class="operation">
          <a class="showDetailBtn see-detail" (click)="showDetail(model.id)"></a>&nbsp;&nbsp;
        </td>
        <td>{{model.percent==null?'0.0':model.percent|percent:'.2'}}</td>
      </tr>
    </table>
    <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
  </div>
  <div class="new_model" [style.display]="showAdd?'':'none'">
    <table>
      <tr>
        <td class="first_column">推演文件格式</td>
        <td>png,jpg</td>
      </tr>
      <tr>
        <td class="first_column">新建推演名称</td>
        <td><input class="input" type="text" [(ngModel)]="modelName"></td>
      </tr>
      <tr>
        <td class="first_column">上传文件</td>
        <td>
          <div class="showPhoto">
             <span  *ngFor="let item of container">
               <img src="{{item}}" alt="">
             </span>
          </div>
          <div class="image" onclick="document.getElementById('file').click()">
            <input type="file" id="file" name="file" multiple ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)"/>
          </div>
        </td>
      </tr>
    </table>
    <a href="#" class="back" onclick="return false" (click)="uploadFile()" style="float:left;margin: 30px;">推演</a>
  </div>
  <div [style.display]="!showAdd?'':'none'">
    <historyDetail [model_id]="runId"  style="margin-left: 0" [style.display]="type=='null'?'':'none'" *ngIf="type=='null'"></historyDetail>
    <historyDetail [model_id]="runId"  style="margin-left: 0" [style.display]="type=='raw_text'?'':'none'" *ngIf="type=='raw_text'"></historyDetail>
    <showImage [model_id]="runId" [style.display]="type=='multiple_labeled_images'?'':'none'" *ngIf="type=='multiple_labeled_images'"></showImage>
    <showResult [model_id]="runId" [style.display]="type=='multiple_labeled_carousel_figures'?'':'none'" *ngIf="type=='multiple_labeled_carousel_figures'"></showResult>
  </div>
  <ng2-toasty class="toasty" [position]="'top-center'"></ng2-toasty>
</div>
