<div class="container">
  <div style="padding: 0 30px;">
    <uniform-tips *ngIf="showTip" [tipWidth]="tipWidth" [tipContent]="tipContent" [tipType]="tipType" [tipMargin]="tipMargin" (showTipChange)="showTipChange(event)"></uniform-tips>
  </div>
  <div class="button_location">
    <a href="#" class="btn gray" onclick="return false" (click)="back()">返回</a>
    <a href="#" class="btn green" onclick="return false" (click)="deduction()">新增推演</a>
    <a class="btn green" href="javascript:void(0)" (click)="publish()">模型发布</a>
  </div>
  <!--<publish-model [(showModel)]="showModel" [publishStatus]="publishStatus" [errorInfo]="errorInfo"></publish-model>-->
  <div class="nav">
    <div class="row">
      <h1>推演服务</h1>
    </div>
    <div class="row">
      <div class="text">
        <span>场景名称: </span>
        <span>{{job?.sencesName}}</span>
      </div>
      <div class="text">
        <span>算法: </span>
        <span>{{job?.chainId}}</span>
      </div>
      <div class="text">
        <span>训练任务: </span>
        <span>{{job?.jobName}}</span>
      </div>
      <div class="text">
        <span>创建时间: </span>
        <span>{{job?.createTime| date}}</span>
      </div>
    </div>
  </div>
  <div class="tableContainer" id="tableContainer" [ngStyle]="getHeight()">
    <table class="table">
      <th>推演名称</th>
      <th>创建时间</th>
      <th>上传路径</th>
      <th>显示结果</th>
      <th>进度</th>
      <tr *ngFor="let model of ModelInfo;let i = index;"  [ngClass]="{'currentRow': model.id==currentId}">
        <td>{{model.predictionName}}</td>
        <td>{{model.createTime==null?'无设置':model.createTime}}</td>
        <td>{{model.inputPath}}</td>
        <td class="operation">
          <a class="showDetailBtn see-detail" (click)="showDetail(model.id)"></a>&nbsp;&nbsp;
        </td>
        <td>{{model.percent==null?'0.0':model.percent|percent:'.2'}}</td>
      </tr>
    </table>
    <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)"  class="page"></page>
  </div>
  <div class="new_model" [style.display]="showAdd?'':'none'" id="new_model" [ngStyle]="getModelHeight()">
    <uniform-tips *ngIf="showShort" [tipWidth]="tipWidth" [tipContent]="tipContent" [tipType]="tipType" [tipMargin]="tipMargin" (showTipChange)="showTipChange(event)"></uniform-tips>
    <table>
      <tr>
        <td class="first_column">推演文件格式</td>
        <td [style.display]="(job.sences!=5&&job.sences!=9&&job.sences!=15&&job.sences!=11&&job.sences<100)?'':'none'">png,jpg</td>
        <td [style.display]="(job.sences!=5&&job.sences!=9&&job.sences!=15&&job.sences!=11)?'none':''">csv,txt</td>
        <td [style.display]="(job.sences!=5&&job.sences!=9&&job.sences!=15&&job.sences!=11&&job.sences>=100)?'':'none'">png,jpg,csv,txt</td>
      </tr>
      <tr>
        <td class="first_column">新建推演名称</td>
        <td><input class="input" type="text" [(ngModel)]="modelName"></td>
      </tr>
      <tr>
        <td class="first_column">上传文件</td>
        <td>
<!--          <div class="showPhoto" [style.display]="job.sences<100?'':'none'">
             <span  *ngFor="let item of container1;let i=index">
               &lt;!&ndash;<img src="{{item}}" alt="" class="photo" *ngIf="uploader.queue.length>0">&ndash;&gt;
               <img src="{{SERVER_URL}}/download/{{outputImg(item)}}" alt="" class="photo">
               <img src="../assets/model/delete.png" class="del" (click)="delPhoto(i)"/>
             </span>
          </div>-->
<!--          <div class="showPhoto" [style.display]="job.sences!=5&&job.sences!=9&&job.sences!=15&&job.sences!=11&&(job.sences<100)?'none':''">
             <span  *ngFor="let item of container;let i=index">
               &lt;!&ndash;<img src="{{item}}" alt="" class="photo" *ngIf="uploader.queue.length>0">&ndash;&gt;
               <img src="{{SERVER_URL}}/download/typeImages/{{outputImg(item)}}" alt="" class="photo">
               <img src="../assets/model/delete.png" class="del" (click)="delPhoto(i)"/>
             </span>
          </div>-->
          <div class="showPhoto">
             <span  *ngFor="let item of container1;let i=index">
               <!--<img src="{{item}}" alt="" class="photo" *ngIf="uploader.queue.length>0">-->
               <img src="{{SERVER_URL}}/download/{{outputImg(item)}}" alt="" class="photo" *ngIf="showType=='png'||showType=='jpg'">
               <img src="{{item}}" alt="" class="photo" *ngIf="showType=='zip'||showType=='rar'||showType=='txt'||showType=='csv'">
               <img src="../assets/model/delete.png" class="del" (click)="delPhoto(i)"/>
             </span>
          </div>
          <div class="image" onclick="document.getElementById('file').click()" [style.display]="(job.sences!=5&&job.sences!=9&&job.sences!=15&&job.sences!=11&&(job.sences<100))?'':'none'">
            <input type="file" id="file" name="file" multiple accept=".png,.jpg" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)"/>
<!--            <input type="file" *ngIf="job.sences==5||job.sences==9||job.sences==15" class="file" name="file" multiple accept=".csv,.txt" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)"/>-->
          </div>
          <div class="image" onclick="document.getElementById('file1').click()" [style.display]="job.sences!=5&&job.sences!=9&&job.sences!=15&&job.sences!=11?'none':''">
            <!--<input type="file" *ngIf="job.sences==3||job.sences==4" id="file" name="file" multiple accept=".png,.jpg" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)"/>-->
            <input type="file"  id="file1" name="file" multiple accept=".csv,.txt" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)"/>
          </div>
          <div class="image" onclick="document.getElementById('file2').click()" [style.display]="job.sences>=100?'':'none'">
            <input type="file" id="file2" name="file" multiple accept=".png,.jpg,.csv,.txt" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)"/>
            <!--            <input type="file" *ngIf="job.sences==5||job.sences==9||job.sences==15" class="file" name="file" multiple accept=".csv,.txt" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)"/>-->
          </div>
        </td>
      </tr>
      <tr>
        <td class="first_column"></td>
        <td>没有合适的文件？试试使用<a href="javascript:void(0)" class="dataset" (click)="getDataset()">数据集文件</a> </td>
      </tr>
    </table>
    <datasets-detail [(show)]="show" [jobPath]="jobPath" [test]="test" (uploadPathChange)="getDataSetPath($event)"></datasets-detail>
    <a href="#" class="back" onclick="return false" (click)="uploadFile()" style="float:left;margin: 30px;">推演</a>
  </div>
  <div [style.display]="!showAdd?'':'none'">
    <historyDetail [model_id]="runId" style="margin-left: 0" [style.display]="type=='error'?'':'none'" *ngIf="type=='error'"></historyDetail>
    <historyDetail [model_id]="runId" style="margin-left: 0" [style.display]="type=='raw_text'?'':'none'" *ngIf="type=='raw_text'"></historyDetail>
    <showAll [model_id]="runId" style="margin-left: 0" [style.display]="type=='custom'?'':'none'" *ngIf="type=='custom'"></showAll>
    <showImage [model_id]="runId" [style.display]="type=='multiple_labeled_images'?'':'none'" *ngIf="type=='multiple_labeled_images'"></showImage>
    <showResult [model_id]="runId" [style.display]="type=='multiple_labeled_carousel_figures'?'':'none'" *ngIf="type=='multiple_labeled_carousel_figures'"></showResult>
  </div>
  <ng2-toasty class="toasty" [position]="'top-center'"></ng2-toasty>
</div>
