.button_location{
  overflow: hidden;
  margin-top: 20px;
  font-size: 14px;
}
.button{
  box-sizing: content-box !important;
  text-decoration:none;
  padding: 1px 22px;
  float: right;
  height: 26px;
  border-radius: 4px;
  background-color: #23a880;
  text-align: center;
  color: #fff;
  line-height: 26px;
  font-size: 14px;
  margin-left: 18px;
  font-family: 'MicrosoftYaHei';
  font-style: normal;
}
.btn{
  padding:0px 22px;
  height:30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 6px;
  box-sizing: border-box;
}
.green{
  background:#24a880 ;
  color: #fff;
  margin-left: 16px;
}
.gray{
  background: #eeeeee;
  color: #333;
  border:1px solid #d3d3d3;
  margin-left: 30px;
}
.nav{
  background-color: #fff;
  margin: 20px 30px;
  padding-left: 30px;
  height:121px;
}
.nav .row{
  display: flex;
  align-items: center;
  padding-top: 10px;

}

.nav .row .text{
  color: #333333;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  margin-right:4vw;
}

/*.nav .row .button_location{
  margin-right: 30px;

  flex: 1;
}*/

.row h1{
  font-size: 16px;
  color: #ff7c35;
  font-family: MicrosoftYaHei;
}

.tableContainer{
  background-color: #fff;
  padding:20px 20px 0 20px;
  margin:0 30px;
  height:auto;
  border-radius: 5px;
}
.tableContainer .table{
  width:100%;
  margin:0;
  padding:0;
}


.see-detail{
  background: url('../../../assets/taskStatus/chakan-.png') no-repeat center;

}

.showDetailBtn {
  cursor: pointer;
  color: #ff7c35;
  font-size: 0.73vw;
  text-decoration: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
}

.operation{
  display: flex;
  align-items: center;
}


.new_model{
  background-color: #fff;
  margin:20px 30px 0 30px;
  overflow: hidden;
}


.new_model .first_column{
  width:120px;
}

.new_model table tr td .input{
  width: 275px;
  height: 26px;
  border: solid 1px #d3d3d3;
  border-radius: 5px;
  text-indent: 6px;
}

.new_model table tr td{
  color: #333333;
  font-size: 14px;
  line-height: 50px;
}

.new_model table{
  margin: 30px;
}
.new_model table{
  margin-bottom: 0px !important;
}
.new_model .image{
  width: 119px;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
}
.image{
  background: url('../../../assets/model/add.png');
  width:119px;
  height:101px;
}
.image input{
  display: none;
}
.currentRow{
  color: #23a800;
}
/*.showPhoto{
  margin-left: 127px;
}*/
.showPhoto{
  float: left;
}
.showPhoto .photo{
  width:119px;
  height:101px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;

}
.showPhoto span{
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  display: inline-block;
}
.showPhoto .del{
  cursor: pointer;
  position: absolute;
  top:0;
  right:0;
}
.dataset{
  text-decoration:underline;
  color: #ff7c35;
}
a{
  text-decoration: none;
}




.tips-content img,.tips-content span{
  display: inline-block;
  vertical-align: middle;
}
.icon{
  margin:9px 15px 0 20px;
  float: left;
}
.tips-content{
  width:100%;
  background:#f9e8e4 ;
  border: 1px solid #ee8059;
  font-size: 12px;
  border-radius: 2px;
  overflow: hidden;
  margin:20px auto 0;
  box-sizing: border-box;
}
.margin{
  margin:0 auto 20px !important;
}
.tips-content span{
  width:80%;
  color: #333;
  word-break: break-all;
}
.tips-content span,.tips-content a{
  padding:9px 0;
  float: left;
}
.close{
  margin-right: 12px;
  margin-top: 12px;
  float: right;
  cursor: pointer;
}

.shrink{
  color: #ff7c35;
  font-size: 14px;
  margin:10px 0;
}
.shrink img,.shrink span{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.shrink span{
  margin-left: 4px;
}
.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 6666;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  justify-content: center;
  align-items: center;
}






