.nav{
  background-color: #fff;
  margin: 20px 30px;
  padding-left: 30px;
  height:121px;
}
.nav .row{
  display: flex;
  align-items: center;
  padding-top: 10px;

}

.nav .row .text{
  width:15vw;
  color: #333333;
  font-size: 14px;
  font-family: MicrosoftYaHei;
}

.nav .row .button_location{
  margin-right: 30px;

  flex: 1;
}

.row h1{
  font-size: 16px;
  color: #ff7c35;
  font-family: MicrosoftYaHei;
}

.tableContainer{
  background-color: #fff;
  padding:20px 20px 0 20px;
  margin:0 30px;
  border-radius: 5px;
}
.tableContainer .table{
  width:100%;
  margin:0;
  padding:0;
}


.see-detail{
  background: url('../../../assets/taskStatus/chakan-.png') no-repeat center;

}

.showDetailBtn {
  cursor: pointer;
  color: #ff7c35;
  font-size: 0.73vw;
  text-decoration: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
}

.operation{
  display: flex;
  align-items: center;
}


.new_model{
  background-color: #fff;
  margin:20px 30px;
  overflow: hidden;
}


.new_model .first_column{
  width:120px;
}

.new_model table tr td .input{
  width: 275px;
  height: 26px;
  border: solid 1px #d3d3d3;
  border-radius: 5px;
  text-indent: 6px;
}

.new_model table tr td{
  color: #333333;
  font-size: 14px;
  line-height: 50px;
}

.new_model table{
  margin: 30px;
}
.new_model table{
  margin-bottom: 0px !important;
}
.new_model .image{
  width: 119px;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
}
.image{
  background: url('../../../assets/model/add.png');
  width:119px;
  height:101px;
}
.image input{
  display: none;
}
.currentRow{
  color: #23a800;
}
/*.showPhoto{
  margin-left: 127px;
}*/
.showPhoto{
  float: left;
}
.showPhoto img{
  width:119px;
  height:101px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
.showPhoto span{
  margin-top: 20px;
  margin-right: 20px;
  display: inline-block;
}




