<div class="container">
<!--    <div class="tabs">
        <div (click)="sysTemplateClick()" id="tab_item1" class="tab_item" [ngClass]="{current: showSystemPlugin==1}">系统模版</div>
        <div (click)="selfTemplateClick()" id="tab_item2" class="tab_item" [ngClass]="{current: showSystemPlugin==0}">自定义模版</div>
    </div>-->
    <div [style.display]="showSystemPlugin==1 ? '' : 'none'" id="systemDiv" class="status">
      <div class="selectCont">
        <div class="selectContainer">
          <select class="select" name="scene_select" [(ngModel)]="student" (ngModelChange)="student=$event;selectChange()">
            <option value="{{scene.id}}" *ngFor=" let scene of SceneInfo" >{{scene.translation}}</option>
          </select>
         <!-- <img src="../assets/taskStatus/select.png">-->
        </div>
        <div class="alg_back">
          <a routerLinkActive="active" routerLink="/algchains">返回</a>
        </div>
      </div>
      <div class="tableCont">
        <table class="table">
          <tr>
            <th class="id">序号</th>
            <th class="name">名称</th>
            <th class="publish">发布</th>
            <th class="domain">问题域</th>
            <th class="creator">创建者</th>
            <th class="description">描述</th>
            <th class="detail">操作</th>
          </tr>
            <tbody>
            <tr *ngIf="dataIndex == 0">
              <td colspan="7">无数据</td>
            </tr>
            <tr *ngFor="let item of arr" [style.display]="dataIndex == 1?'':'none'">
                <td>{{item.id}}</td>
                <td>{{item.chain_name}}</td>
                <td>{{output(item.publish)}}</td>
                <td>{{item.prob_domain}}</td>
                <td>{{item.creator}}</td>
                <td>{{item.description}}</td>
                <td>
                    <a class="showDetailBtn" routerLinkActive="active" (click)="clickChain(item.id,item.creator)"><img src="../assets/algplugin/chakan.png"/></a>
                    <!--<a class="showDetailBtn"><img src="../assets/algplugin/fabu.png"/></a>-->
                    <!--<a class="showDetailBtn"><img src="../assets/algplugin/fuzhi.png"/></a>-->
                </td>
            </tr>
            </tbody>
        </table>
<!--        <div class="bottom_menu">
            <div class="label">
                TotalPages:
               &lt;!&ndash; Showing {{(page-1)*pageMaxItem+1}} to {{page*pageMaxItem>ModelInfo.length?ModelInfo.length:page*pageMaxItem}} of {{page*pageMaxItem>ModelInfo.length?ModelInfo.length-(page-1)*pageMaxItem:pageMaxItem}} items&ndash;&gt;
                <span>{{result}}</span>
            </div>
            <div class="selectDiv" >
                <select class="select_pagemax" [(ngModel)]="pageMaxItem" (ngModelChange)="maxItemChange(pageMaxItem);">
                    <option value="10" selected="{{pageMaxItem==10?'selected':''}}">10</option>
                    <option value="20" selected="{{pageMaxItem==20?'selected':''}}">20</option>
                    <option value="50" selected="{{pageMaxItem==50?'selected':''}}">50</option>
                </select>
            </div>
            <div class="pagebtn" (click)="nextPage(pageMaxItem)">Next</div>
            <div class="pagebtn"  (click)="previousPage(pageMaxItem)">Previous</div>
        </div>-->
      <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
      </div>
    </div>
    <!--<div [style.display]="showSystemPlugin==0 ? '' : 'none'" id="selfDiv" class="status">
        <table class="table">
            <th class="id">序号</th>
            <th class="name">名称</th>
            <th class="publish">发布</th>
            <th class="domain">问题域</th>
            <th class="creator">创建者</th>
            <th class="description">描述</th>
            <th class="detail">详情</th>
            <tbody>
            <tr *ngFor="let item of arr2">
                <td>{{item.id}}</td>
                <td>{{item.chain_name}}</td>
                <td>{{output(item.publish)}}</td>
                <td>{{item.prob_domain}}</td>
                <td>{{item.creator}}</td>
                <td>{{item.description}}</td>
                <td>
                    <a class="showDetailBtn" routerLinkActive="active" (click)="clickChain(item.id,item.creator)">查看详情</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="bottom_menu">
            <div class="label">
                TotalPages:
                &lt;!&ndash; Showing {{(page-1)*pageMaxItem+1}} to {{page*pageMaxItem>ModelInfo.length?ModelInfo.length:page*pageMaxItem}} of {{page*pageMaxItem>ModelInfo.length?ModelInfo.length-(page-1)*pageMaxItem:pageMaxItem}} items&ndash;&gt;
                <span>{{result}}</span>
            </div>
            <div class="selectDiv" >
                <select class="select_pagemax" [(ngModel)]="pageMaxItem" (ngModelChange)="maxItemChange(pageMaxItem);">
                    <option value="10" selected="{{pageMaxItem==10?'selected':''}}">10</option>
                    <option value="20" selected="{{pageMaxItem==20?'selected':''}}">20</option>
                    <option value="50" selected="{{pageMaxItem==50?'selected':''}}">50</option>
                </select>
            </div>
            <div class="pagebtn" (click)="nextPage(pageMaxItem)">Next</div>
            <div class="pagebtn"  (click)="previousPage(pageMaxItem)">Previous</div>
        </div>
    </div>-->
  <ng2-toasty class="toasty" [position]="'top-center'"></ng2-toasty>
</div>
