<div class="popup-wrapper">
  <div class="upload-wrapper">
    <div class="top">
      <label>上传场景（算法链）</label>
      <img src="../../../assets/datasets/guanbi.png" (click)="hide_click()">
    </div>
    <cpt-error [show]="s_error_show" [message]="s_error_message" [level]="s_error_level"></cpt-error>
   <!-- <div class="error item" *ngIf="s_error_show">
      <img [src]="'../../../assets/datasets/' + (s_error_level === 'error' ? 'cuowu.png' : 'tishi.png')" alt="">
      <label>{{s_error_level === 'error' ? '错误！' : '提示！'}}</label>
      {{s_error_message}}
    </div>
-->
    <div class="form item" *ngIf="uploader.queue.length==0">
      <div class="upload" onclick="document.getElementById('file').click()">上传场景（算法链）</div>
      <input type="file" id="file" name="file" ng2FileSelect [uploader]="uploader" accept="aplication/zip" (change)="selectedFileOnChanged($event)"/>
    </div>
    <table class="uploadShow" *ngIf="uploader.queue.length>0">
      <tr *ngFor="let item of uploader.queue;let i =index" class="uploadTr">
        <td class="uploadTxt paddingLeft"><img src="../assets/datasets/shangchuan.png" class="imgMiddle right" *ngIf="item.progress==0"/><img src="../assets/datasets/shangchuan.png" class="imgMiddle right"  *ngIf="item.progress!=100&&(item.progress!=0)"/>{{item.file.name}}<span *ngIf="(item.file.size/1024)>=1024">（{{item.file.size/1024/1024|number:'1.2-2'}}）MB</span><span *ngIf="(item.file.size/1024)<1024">（{{item.file.size/1024|number:'1.2-2'}}）KB</span></td>
        <div class="progressouter">
          <!--<span>{{item.progress}}%</span>-->
          <div class="progressinner" [ngStyle]="{width: item.progress + '%'}" [ngClass]="{progressinnerbg: item.progress==100}">{{item.progress}}%</div>
        </div>
        <img src="../assets/datasets/shanchu.png" class="imgMiddle1" (click)="item.remove()"/>
      </tr>
    </table>
    <div class="notes">
      <div>提示：</div>
      <ol>
        <li> 请上传<label class="orange">ZIP</label>格式的文件</li>
        <li> 文件夹内应当包含一个configure.txt文件，包含四行：算法链名称,算法链描述,train的执行命令,predict的执行命令</li>
        <li> 文件夹内需包含train和predict执行命令所需要的文件/代码（名称和文件格式可自定义</li>
        <li> train过程中，使用的数据集路径应假设存在文件夹根路径下（但压缩包不应该包含数据集，需通过数据集功能单独上传</li>
        <li> train过程中，有产出需保存的情况，需保存在该文件夹根目录下</li>
        <li> predict命令，需要通过‘--input_path’指定输入路径，‘--output_dir’指定输出结果所在目录（输出文件名无要求），但这两个参数无需在predict命令中指定，系统会自动通过利用这两个参数进行传参</li>
        <li> predict的输入和输出支持只文本（txt，csv）或者图片（png，jpg）。如果输出是概率信息请写入文本文件中保存</li>
        <li> predict过程中，若需调用train过程的产出，应按照文件夹根目录来进行调用</li>
        <span>请参考上传文件范例：<a class="green" href="{{SERVER_URL}}/Demo.zip" download>demo.zip</a></span>
      </ol>
    </div>
  </div>

  <ng2-toasty class="toasty" [position]="'top-center'"></ng2-toasty>

</div>
