.table {
  width: 100%;
  margin: 20px 0;
}
.no-data {
  text-align: center;
}
.sortBydate {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
img.icon {
  /*margin-right: 10px;*/
  cursor: pointer;
}
.name{
  width:16%;
}
.scene,.time,.condition,.formore{
  width:14%;
}
.createTime{
  width:16%;
}
.option{
  width:12%;
}
