/* Master Styles */
body{
    width: 1920px;
    margin: 0px;
    background-color: black;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  border-bottom: 2px solid black;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
/*make every right-side page arranged*/
.container{
    position: relative;
    width: 1700px;
    height: 1462px;
    float: right;
    background-color: #131314;
}
/* words cannot be select */
html,body{
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
