@charset "UTF-8";
/*framework*/
.tabs{
  position: relative;
  height: 50px;
  width:97%;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 0px;
  border: 0px;
  left:2%;
}
.tab_item{
  position: relative;
  border: 0px;
  float: left;
  margin-right: 4%;
  margin-left: 4px;
  text-align: center;
  font-size: 0.83vw;
  font-weight: normal;
  width:104px;
  font-family: "MicrosoftYaHei";
  color: #333333;
  height:50px;
  line-height: 50px;
  cursor: pointer;

}
.focus{
  color: #ff7c35;
  font-weight: normal;
  border-bottom: 2px solid #ff7c35;
}
.status{
  background-color: #ffffff;
  margin-left: 2%;
  margin-top: 30px;
  border-radius: 5px;
  min-height: 500px;
  width: 97%;
}
/*table*/
.table{
  position: relative;
  top: 28px;
  margin:18px 0 0 30px;
  width: 96%;
  border:1px solid #d3d3d3;
  border-collapse: collapse;
}
.table th{
  height: 50px;
  background: #ffffff;
  padding-left: 20px;
  font-size: 0.83vw;
  line-height: 50px;
  color: #333333;
  text-align: left;
  font-weight: normal;
}
.table tr{
  text-align: left;
  background: #eeeeee;
  height: 50px;
  font-size: 0.73vw;
  font-family: "MicrosoftYaHei";
  border-top:1px solid #d3d3d3;
  color: #666666;
}
.table tr td{
  padding-left: 20px;
}
.table tr:nth-child(even){
  background: #ffffff;
}
/*th*/
.name{
  width: 20%;
}
.scene{
  width: 20%;
}
.time{
  width: 20%;
}
.condition{
  width: 20%;
}
.progress{
  width: 20%;
}


/**/
*{
  margin: 0px;
  padding: 0px;
}
.total{
  width: 1700px;
  font-family: "Microsoft YaHei";
  color: #ffffff;
  width:100%;

}
h4{
    margin: 0px;
}
.resourceTypeTitle{
  position: relative;
  padding:14px 0 12px 2%;
  text-align: left;
  font-family: "Microsoft YaHei";
  color: #333333;
  font-size: 0.83vw;
}
.resourceTypeTitle img{
  width:1.25vw;
  display: inline-block;
  vertical-align: middle;
}
.resourceTypeTitle span{
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
}
.cpu{
    height: 48vh;
    background: #ffffff;
    border-radius: 5px;
}
/*.occupancyRate,.fluctuate{
  position: relative;
  background-color: #151515;
  box-shadow: 1px 1px 30px rgba(0,0,0,0.5);
  float: left;
  width: 800px;
  height: 330px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right:60px;
  margin-top:15px;

}*/
.checkStatus{
  position:absolute;
  top:14px;
  right:0;
  margin-right: 2%;
  color: #ff7c35;
  font-size: 0.83vw;
}
.linechart{
    position: relative;
    background-color: #ffffff;
    /*box-shadow: 1px 1px 30px rgba(0,0,0,0.5);*/
    float: left;
    width: 46.5%;
    height: 38vh;
    border-radius: 10px;
    margin-left: 2%;
    border:2px solid #dcdcdc;
}
.piechart{
    position: relative;
    background-color: #ffffff;
   /* box-shadow: 1px 1px 30px rgba(0,0,0,0.5);*/
    float: left;
    width: 46.5%;
    height: 38vh;
    border-radius: 10px;
    margin-left: 2%;
    border:2px solid #dcdcdc;
}

.occupancyRate h4,.chart h4,.usageRateFluctuate h4{
  font-family: "Microsoft YaHei";
  color: #333333;
  font-size: 0.83vw;
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.occupancyRate p,.chart p,.usageRateFluctuate p{
  position: relative;
  font-family: "Microsoft YaHei";
  color: #5a5a5a;
  font-size: 15px;
  padding-left: 5px;

}
.occupancyRate .pie{
  position: relative;
  float: left;
  margin-top:20px;
  margin-left: 70px;
}


.occupancyRate .pieDescrip{
  position: relative;
  float: left;
  margin-top:60px;
  margin-left: 38px;

}
.axis path,
.axis line {
 stroke: #fff;
 color:#ffffff;
 fill: none;
 stroke-width: 1;
}
.inner_line path, .inner_line line
{
  fill: none;
  stroke:#E7E7E7;
  opacity: 0.2;
  shape-rendering: crispEdges;
}
.axis text{

  font-size:15px;

  font-family: "Microsoft YaHei";

}
.usageRateFluctuate{
  position: relative;
  background-color: #151515;
  box-shadow: 1px 1px 30px rgba(0,0,0,0.5);
  float: left;
  width: 1034px;
  height: 451px;
  border-radius: 5px;
  margin-left: 20px;

  margin-top:55px;
}
#cpuwave{
    width: 1034px;
    float: left;
    margin-bottom: 40px;
}
.cpuwaveDescription{
    position: relative;
    margin-left: 36px;
    margin-top: 250px;
    width: 600px;
    height: 250px;
    background: transparent;
    float: left;
}
.cpuwaveDescription .line{
    height: 20px;
    line-height: 20px;
    margin-bottom: 25px;
    font-size: 18px;
    color: #ffffff;
    text-align: left;
}
.cube{
    width: 20px;
    height: 20px;
    float: left;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.skyblue{
    background-color: skyblue;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.bottom_menu{
    width: 96%;
    height: 49px;
    background-color: #0b0b0b;
    margin:28px 0 0 2%;
}
.bottom_menu .label{
    position: relative;
    height: 21px;
    width: 300px;
    top: 14px;
    left: 30px;
    color: #e2e2e2;
    font-size: 20px;
    font-family: "MicrosoftYaHei";
    float: left;
    margin-right: 100px;
}
.bottom_menu .label span{
    display: inline-block;
    margin-left: 10px;
}
.bottom_menu .selectDiv{
    position: relative;
    width: 100px;
    height: 40px;
    float: left;
    outline: none;
}
.bottom_menu .selectDiv .select_pagemax{
    position: relative;
    width: 80px;
    height: 30px;
    top: 10px;
    outline: none;

}
.bottom_menu .pagebtn{
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 90px;
    margin: 11px 8px 0 10px;

    float: right;
    background-color: #252525;
    color: #f7f7f7;
    border-radius: 4px;
    font-size: 16px;
    font-family: "MicrosoftYaHei";
    cursor: pointer;
}
.disk{
  background: #eeeeee;
  padding-bottom: 12px;
  font-size: 0.83vw;
  color: #333333;
}
.diskSpace{
  display: inline-block;
  margin-left: 30px;
  margin-right: 10px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}
.spaceOut{
  width:200px;
  display: inline-block;
  border: 1px solid #c5c5c5;
  height:20px;
  background: #ffffff;
  vertical-align: middle;
}
.spaceIn{
  background: #23a880;
  display: inline-block;
  height:20px;
  width:60px;
}
.diskCapacity{
  vertical-align: middle;
  margin-left: 10px;
}
.selectContainer{
  position: relative;
  top:18px;
  height:76px;
  left:30px;
  width:293px;
}
.select{
  position: absolute;
  height:36px;
  border-radius: 5px;
  width:294px;
  border: 1px solid #d3d3d3;
  font-size: 0.7vw;
  text-indent: 10px;
  color: #666;
}
.selectContainer img{
  position: absolute;
  right:0;
}
