@charset "UTF-8";
.select select{
    width: 500px;
    height: 38px;
    margin: 36px 0 11px 2%;
    background: #313131;
    color: #ffffff;
    font-size: 16px;
    text-indent: 2px;
}
.modelServier{
    background: #19191a;
}
.table{
    width: 96%;
    margin: 28px 2% 0 2%;
    padding-top: 28px;
}
.table th,tr{
    height: 50px;
    border: 0;
    line-height: 50px;
    color: #ffffff;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    text-align: center;
}
.table th{
    background: #4e3fa9;
    font-size: 20px;
}
.table tr{
    color: #ededed;
    background: #252525;
    font-size: 16px;
}
/*
.table tbody tr:nth-child(even){
    background: #202020;
}
*/
.table tbody .selected{
    background: #202020;
}
.btn{
    margin: 60px 0 0 2%;
    padding-bottom: 30px;
}
.btn a{
    text-decoration: none;
    display: block;
    width:90px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background:linear-gradient(rgb(255,238,211), rgb(254,205,153));
    color:rgb(174,83,0);
    border-radius:5px ;
    border:1px solid rgb(224,191,162);
    cursor: pointer;
}

