<div class="container">
    <div class="tabs">
        <div (click)="sysTemplateClick()" id="tab_item1" class="tab_item" [ngClass]="{current: showSystemPlugin==1}">系统模版</div>
        <div (click)="selfTemplateClick()" id="tab_item2" class="tab_item" [ngClass]="{current: showSystemPlugin==0}">自定义模版</div>
    </div>
    <div [style.display]="showSystemPlugin==1 ? '' : 'none'" id="systemDiv" class="status">
        <table class="table">
            <th class="id">序号</th>
            <th class="name">名称</th>
            <th class="publish">发布</th>
            <th class="domain">问题域</th>
            <th class="creator">创建者</th>
            <th class="description">描述</th>
            <th class="detail">详情</th>
            <tbody>
            <tr *ngFor="let item of arr">
                <td>{{item.id}}</td>
                <td>{{item.chain_name}}</td>
                <td>{{output(item.publish)}}</td>
                <td>{{item.prob_domain}}</td>
                <td>{{item.creator}}</td>
                <td>{{item.description}}</td>
                <td>
                    <a class="showDetailBtn" routerLinkActive="active" (click)="clickChain(item.id,item.creator)">查看详情</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="bottom_menu">
            <div class="label">
                TotalPages:
               <!-- Showing {{(page-1)*pageMaxItem+1}} to {{page*pageMaxItem>ModelInfo.length?ModelInfo.length:page*pageMaxItem}} of {{page*pageMaxItem>ModelInfo.length?ModelInfo.length-(page-1)*pageMaxItem:pageMaxItem}} items-->
                <span>{{result}}</span>
            </div>
            <div class="selectDiv" >
                <select class="select_pagemax" [(ngModel)]="pageMaxItem" (ngModelChange)="maxItemChange(pageMaxItem);">
                    <option value="10" selected="{{pageMaxItem==10?'selected':''}}">10</option>
                    <option value="20" selected="{{pageMaxItem==20?'selected':''}}">20</option>
                    <option value="50" selected="{{pageMaxItem==50?'selected':''}}">50</option>
                </select>
            </div>
            <div class="pagebtn" (click)="nextPage(pageMaxItem)">Next</div>
            <div class="pagebtn"  (click)="previousPage(pageMaxItem)">Previous</div>
        </div>
    </div>
    <div [style.display]="showSystemPlugin==0 ? '' : 'none'" id="selfDiv" class="status">
        <table class="table">
            <th class="id">序号</th>
            <th class="name">名称</th>
            <th class="publish">发布</th>
            <th class="domain">问题域</th>
            <th class="creator">创建者</th>
            <th class="description">描述</th>
            <th class="detail">详情</th>
            <tbody>
            <tr *ngFor="let item of arr2">
                <td>{{item.id}}</td>
                <td>{{item.chain_name}}</td>
                <td>{{output(item.publish)}}</td>
                <td>{{item.prob_domain}}</td>
                <td>{{item.creator}}</td>
                <td>{{item.description}}</td>
                <td>
                    <a class="showDetailBtn" routerLinkActive="active" (click)="clickChain(item.id,item.creator)">查看详情</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="bottom_menu">
            <div class="label">
                TotalPages:
                <!-- Showing {{(page-1)*pageMaxItem+1}} to {{page*pageMaxItem>ModelInfo.length?ModelInfo.length:page*pageMaxItem}} of {{page*pageMaxItem>ModelInfo.length?ModelInfo.length-(page-1)*pageMaxItem:pageMaxItem}} items-->
                <span>{{result}}</span>
            </div>
            <div class="selectDiv" >
                <select class="select_pagemax" [(ngModel)]="pageMaxItem" (ngModelChange)="maxItemChange(pageMaxItem);">
                    <option value="10" selected="{{pageMaxItem==10?'selected':''}}">10</option>
                    <option value="20" selected="{{pageMaxItem==20?'selected':''}}">20</option>
                    <option value="50" selected="{{pageMaxItem==50?'selected':''}}">50</option>
                </select>
            </div>
            <div class="pagebtn" (click)="nextPage(pageMaxItem)">Next</div>
            <div class="pagebtn"  (click)="previousPage(pageMaxItem)">Previous</div>
        </div>
    </div>
</div>