@charset "UTF-8";
/*manage table*/
.tabs{
  position: relative;
  height: 60px;
  background-color: #131314;
  margin-bottom: 0px;
  border: 0px;
}
.tab_item{
    position: relative;
    top: 20px;
    border-radius: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 0px;
    width: 150px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: normal;
    font-family: "MicrosoftYaHei";
    color: #5e5e5f;
    background-color: #0b0b0b;
    cursor: pointer;
    margin-right: 0px;
}
.sm_tab_item{
    position: relative;
    border-radius: 8px;
    top: 11px;
    height: 38px;
    line-height: 38px;
    color: #ced1d2;
    background-color: #58585a;
    margin-left: 20px;
    font-size: 20px;
}
.focus{
  background-color: #19191a;
  color: #6e7ae8;
  font-weight: normal;
}
#plusicon{
    position: relative;
    top: 2px;
    margin-right: 6px;
}
.tab_search{
    position: relative;
    width: 405px;
    height: 42px;
    top: 9px;
    right: 50px;
    border-radius: 8px;
    float: right;
}
#search_input{
    width: 100%;
    height: 42px;
    border-radius: 8px;
    border: 0px;
    background-color: #313131;
    float: left;
    font-family: "MicrosoftYaHei";
    font-size: 20px;
    color: #999999;
    outline: none;
}
#searchicon{
    position: absolute;;
    top: 8px;
    right: 10px;
    width: 26px;
    height: 26px;
    float: left;
}
.status{
  background-color: #19191a;
  height: 1402px;
}
/*table*/
.table{
    position: relative;
    top: 28px;
    margin-left: 20px;
    width: 1660px;
}
.table th{
  height: 50px;
  background: #4e3fa9;
  border: 0px;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  font-weight: normal;
}
.table tr{
  text-align: center;
  background: #252525;
  height: 50px;
  font-size: 16px;
  font-family: "MicrosoftYaHei";
  color: #ededed;
}
.table tr:nth-child(even){
  background: #202020;
}
/*th*/
.name{
    width: 14%;
}
.scene{
    width: 16%;
}
.time{
    width: 14%;
}
.condition{
    width: 14%;
}
.progress{
    width: 14%;
}
.operation{
    width: 14%;
}
.formore{
    width: 14%;
}
.showDetailBtn{
    cursor: pointer;
    color: #eeeeee;
    font-size: 18px;
    text-decoration: none;
}
.operationTd{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/jobcreation/operation.png');
}
.operationBtn{
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    float: left;
    cursor: pointer;
}
.stop{
    left: 83.7px;
}
.start{
    width: 12px;
    left: 95.7px;
}
.pause{
    left: 100.7px;
}
.bottom_menu{
    position: relative;;
    width: 1659px;
    height: 49px;
    margin-top: 30px;
    background-color: #0b0b0b;
    margin-left: 20px;
}
.bottom_menu .label{
    position: relative;
    height: 21px;
    width: 300px;
    top: 14px;
    left: 30px;
    color: #e2e2e2;
    font-size: 20px;
    font-family: "MicrosoftYaHei";
    float: left;
    margin-right: 100px;
}
.bottom_menu .selectDiv{
    position: relative;
    width: 100px;
    height: 40px;
    float: left;
    outline: none;
}
.bottom_menu .selectDiv .select_pagemax{
    position: relative;
    width: 80px;
    height: 30px;
    top: 10px;
    outline: none;

}
.bottom_menu .pagebtn{
    position: relative;
    height: 28px;
    line-height: 28px;
    text-align: center;
    top: 11;
    right: 250px;
    width: 90px;
    margin: 0px;
    float: right;
    background-color: #252525;
    color: #f7f7f7;
    border-radius: 4px;
    font-size: 16px;
    font-family: "MicrosoftYaHei";
    margin-left: 10px;
    cursor: pointer;
}

/***************************/
/*creationJob*/
.step_pane{
  margin-top: 0.5vw;
  position: relative;
  width: 100%;
  height: 4vw;
}
.steps{
  float: left;
  width: 13vw;
  height: 3vw;
  line-height: 3vw;
  text-align: center;
  font-size: 1.4vw;
  font-weight: bold;
  border-left: 2px solid red;
  cursor: pointer;
  background-color: rgb(228,228,228);
}
.step_on{
  background-color: skyblue;
  cursor: default;
}
.triangle-right {
  float: left;
  width: 0;
  height: 0;
  border-top: 1.55vw solid transparent;
  border-bottom: 1.55vw solid transparent;
  border-left: 3vw solid rgb(228,228,228);
  cursor: pointer;
}
.triangle_on{
  border-left: 3.1vw solid skyblue;
  cursor: default;
}
.step_content{
  position: relative;
  margin-top: 1vw;
  width: 100%;
  height: 42vw;
  border: 1px solid grey;
}
.nextBtn{
  height: 2vw;
  width: 6vw;
  background: linear-gradient(rgb(255,238,211), rgb(254,205,153));
  position: absolute;
  border: 1px solid rgb(224,191,162);
  border-radius: 5px;
  bottom: 2vw;
  right: 4vw;
  color: rgb(174,83,0);
  text-align: center;
  line-height: 2vw;
  font-size: 1.2vw;
  cursor: pointer;
}
/*1*/
.data{
  height: 42vw;
  margin-left: 2vw;
  margin-right: 2vw;
}
.choice{
  position: relative;
  border-bottom: 1px solid rgb(228,228,228);
}
.label{

}
.label_title{
  text-align: center;
  font-size: 1.8vw;
  font-weight: bold;

}
.label_type{
  width: 6vw;
  height: 2vw;
  line-height: 2vw;
  text-align: right;
  font-size: 1.3vw;
  float: left;
  margin-right: 1vw;
}
.select{
  width: 10vw;
  height: 2vw;
}

#scene{
  position: relative;
  height: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.scene_title{
  width: 6vw;
  height: 2vw;
  line-height: 2vw;
  text-align: left;
  font-size: 1.3vw;
  float: left;
  margin-right: 1vw;
}
.secondLine{
  width: 100%;
  height: 2vw;
  margin-bottom: 2vw;
}
#dataset{
  height: 100%;
  width: 30%;
  float: left;
  position: relative;
}
.data_title{
  width: 6vw;
  height: 100%;
  line-height: 2vw;
  text-align: left;
  font-size: 1.3vw;
  float: left;
  margin-right: 1vw;
}
#rate{
  width: 70%;
  float: right;
  height: 2vw;
}
.rate_title{
  width: 14vw;
  height: 2vw;
  line-height: 2vw;
  text-align: left;
  font-size: 1.3vw;
  float: left;
  margin-right: 1vw;
}
.thirdLine{
  width: 100%;
  height: 2vw;
  margin-bottom: 2vw;
}
#record_num{
  width: 30%;
  float: left;
  text-align: left;
  height: 100%;
  font-size: 1.3vw;
}
#store_type{
  width: 70%;
  float: right;
  height: 100%;
}
.store_title{
  width: 14vw;
  height: 2vw;
  line-height: 2vw;
  text-align: left;
  font-size: 1.3vw;
  float: left;
  margin-right: 1vw;
}
/*2*/



/*3*/
.parameter{
  width: 60%;
  margin: 0 auto;
  text-align: left;
}
#parameterTable{
  margin: 0 auto;
  margin-top: 1vw;
}
#parameterTable tr{
  font-size: 1.2vw;
  height: 3vw;
}
#parameterTable th{
  font-size: 1.8vw;
  height: 5vw;
}
.name_tab{
  width: 30%;
}
.input_tab{
  width: 100%;
}
.parameterInput{
  width: 100%;
  height: 100%;
}
/*4*/
.createBtn{
  height: 2vw;
  width: 8vw;
  background: linear-gradient(rgb(255,238,211), rgb(254,205,153));
  position: relative;
  border: 1px solid rgb(224,191,162);
  border-radius: 5px;
  left: 2vw;
  top: 1vw;
  color: rgb(174,83,0);
  text-align: center;
  line-height: 2vw;
  font-size: 1.2vw;
  cursor: pointer;
}
.detail{
  position: relative;
  margin-top: 2vw;
  left: 2vw;
  width: 95%;
  height: 42vw;
  border: 1px solid rgb(228,228,288);
}
