<div class="container">
    <form class="form">
        <div class="name"><label>名称:</label><input type="text" required [(ngModel)]="modelName" name="name"/></div>
        <div class="text">
            <a class="btn">
                <input type="file" multiple ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" />选择文件
            </a>
        </div>
        <button (click)="uploadFile()" routerLinkActive="active">保存</button>
    </form>
    <historyDetail style="margin-left: 0"></historyDetail>
</div>
