:host(cpt-nodata) {
  display: table-row;
}
.nodata-wrapper {
  display: table-cell;
  height: 155px;
  font-size: 18px;
  color: #333;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #eeeeee;
}

.nodata-wrapper img , .nodata-wrapper span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
