    <nav>
     <a routerLinkActive="active" routerLink="/overview">Overview</a>
     <br/>
     <a routerLinkActive="active" routerLink="/datasets">Datasets</a>
     <br/>
     <a routerLinkActive="active" routerLink="/algchains">Algo Chains</a>
     <br/>
     <a routerLinkActive="active" routerLink="/algplugins">Alg Plugins</a>
     <br/>
     <a routerLinkActive="active" routerLink="/trainingjobs">Training Jobs</a>
     <br/>
     <a routerLinkActive="active" routerLink="/jobcreation">Create Job</a>
     <br/>
     <a routerLinkActive="active" routerLink="/network-editor">Network Editor</a>
     <br/>
   </nav>
<router-outlet></router-outlet>
