.mymodel-table{
  width:100%;
  margin:0;
}
.mymodel-table .table{
  margin-left: 0;
}
#style-1::-webkit-scrollbar{
  height:10px;
  background-color: #eee;
  border: 1px solid #d3d3d3;
}
#style-1::-webkit-scrollbar-thumb{
  border-radius:10px;
  background-color:#999;
}
