<div class="container bg">
    <div class="detailPage">
        <!--<div class="tabs">-->
          <!--<div id="tab_item1" class="tab_item"><a routerLinkActive="active" routerLink="/jobcreation" >训练任务管理</a></div>-->
          <!--<div class="tab_item" [class.focus]="true">任务管理详情</div>-->
        <!--</div>-->
        <div class="">
          <div class="nav">
            <div class="detailLine">
                <span>任务名称:&nbsp;&nbsp;{{job?.jobName}}</span>
                <span>场景名称:&nbsp;&nbsp;{{job?.sencesName==null?'未设置':job.sencesName}}</span>
                <span>创建时间:&nbsp;&nbsp;{{job?.createTime==null?'未设置':job.createTime}}</span>

              <div *ngIf="job?.status=='未启动'">
                <a href="#" class="button" onclick="return false" (click)="start(job?.jobPath)">开始运行</a>

              </div>
              <a href="#" class="back" routerLink="/jobcreation" >返回</a>

            </div>
            <div class="detailLine">
                <span>创建者:&nbsp;&nbsp;{{job?.user?.login}}</span>
              <span>状态:&nbsp;&nbsp;{{job?.status==null?'未设置':job.status}}</span>




              <div *ngIf="job?.status=='停止'||job?.status=='完成'">
                <a href="#" class="button" onclick="return false" >重置</a>
                <a href="#" class="button" onclick="return false" (click)="start(job?.jobPath)">运行</a>
                <a href="#" class="button" onclick="return false" >查看训练算法</a>
                <a href="#" class="button" onclick="return false" >下载训练日志</a>
              </div>

            <div *ngIf="job?.status=='运行'">
              <a href="#" class="button" onclick="return false" >重置</a>
              <a href="#" class="button" onclick="return false" (click)="stop(job?.jobPath)">停止</a>
              <a href="#" class="button" onclick="return false" >查看训练算法</a>
              <a href="#" class="button" onclick="return false" >下载训练日志</a>
            </div>
            </div>
          </div>


          <div class="tab" *ngIf="job?.status=='运行'">
            <a href="#" onclick="return false" class="current_tab">训练结果</a>
            <a href="#" onclick="return false">资源详情</a>

          </div>

            <div class="lossLine">
                <div class="lossCard">
                    <div class="title">LOSS<span class="span_not_val" style="float:right;margin-right:10px;font-size:16px;color:#666666">best_loss:{{jobResult.bestLoss}}</span></div>
                    <div class="sub_title"><span class="span_not_val">--loss</span> & <span class="span_val">--val_loss</span><span style="float:right;margin-right:10px;font-size:16px;color:#666666">best_val_loss:{{jobResult.bestValLoss}}</span></div>
                    <div class="">
                        <div id="lossGraph"  [style.width.%]="105" [style.height.px]="400">
                            <!-- <defs>
                                <linearGradient id="lineChart--gradientBackgroundArea" x1="0" x2="0" y1="0" y2="1">
                                    <stop class="lineChart--gradientBackgroundArea--top" offset="0%" />
                                    <stop class="lineChart--gradientBackgroundArea--bottom" offset="100%" />
                                </linearGradient>
                            </defs> -->
                        </div>
                    </div>
                </div>
                <div class="lossCard">
                    <div class="title">{{jobResult.metrics_name}}<span class="span_not_val" style="float:right;margin-right:10px;font-size:16px;color:#666666">best_{{jobResult.metrics_name}}:{{jobResult.bestMetrics}}</span></div>
                    <div class="sub_title"><span class="span_not_val">--{{jobResult.metrics_name}}</span> & <span class="span_val">--val_{{jobResult.metrics_name}}</span><span style="float:right;margin-right:10px;font-size:16px;color:#666666">best_val_{{jobResult.metrics_name}}:{{jobResult.bestValMetrics}}</span></div>
                    <div>
                      <div id="metricsGraph"  [style.width.%]="105" [style.height.px]="400">
                    </div>
                </div>
            </div>
            <!--<div *ngFor="let item of jobResultParam">-->
                <!--<div class="propertyCard">-->
                    <!--<div class="icon"></div>-->
                    <!--<div class="cardInline">{{item.key}}</div>-->
                    <!--<div class="cardInline">{{item.value}}</div>-->
                <!--</div>-->
            <!--</div>-->
          <div class="propertyLine">
            <div class="propertyCard">
                <div class="cardInline"> Samples/Sec</div>
                <div class="cardInline_value">{{jobResult?.samples_sec}}</div>
            </div>
            <div  class="propertyCard" style="margin-left: 10px">
                <div class="cardInline">Sec/Epoch</div>
                <div class="cardInline_value">{{jobResult?.sec_epoch}}</div>
            </div>
            <div class="propertyCard" style="margin-left: 20px">
                <div class="cardInline">Sample Process</div>
                <div class="cardInline_value">{{job?.percent|percent:'.2'}}</div>
            </div>
            <!--<div class="propertyCard"  style="margin-left: 36px">-->
                <!--<div class="icon"></div>-->
                <!--<div class="cardInline">LOSS: (train/validation)</div>-->
                <!--<div class="cardInline">{{jobResult.loss}}</div>-->
                <!--<div class="cardInline">{{jobResult.bestLoss}}</div>-->
            <!--</div>-->
            <!--<div class="propertyCard">-->
                <!--<div class="icon"></div>-->
                <!--<div class="cardInline">{{jobResult.metrics_name}}: (train/validation)</div>-->
                <!--<div class="cardInline">{{jobResult.bestMetrics}}</div>-->
                <!--<div class="cardInline">{{jobResult.bestValMetrics}}</div>-->
            <!--</div>-->
            <div class="propertyCard" style="margin-left: 10px">
                <div class="cardInline">Epoch:</div>
                <div class="cardInline_value">{{jobResult.epoch}}</div>
            </div>
          </div>
          <div class="log" *ngIf="job?.status!='完成'">
            <h3>日志信息</h3>
        <span>
          <p> Using TensorFlow backend.</p>
          <p> Using TensorFlow backend.</p>
          <p> Using TensorFlow backend.</p>
          <p> Using TensorFlow backend.</p>
          <p> Using TensorFlow backend.</p>
          <p> Using TensorFlow backend.</p>
          <p> Using TensorFlow backend.</p>
          <p> Using TensorFlow backend.</p>
          <p> Using TensorFlow backend.</p>
          <p> Using TensorFlow backend.</p>
          <p> Using TensorFlow backend.</p>
          <p> Using TensorFlow backend.</p>
          <p> Using TensorFlow backend.</p>
          <p> Using TensorFlow backend.</p>
        </span>
          </div>

              <div *ngIf="job?.status=='完成'" class="publish">
                <a href="#" class="button" onclick="return false" >模型发布</a>
                <a href="#" class="button" onclick="return false" (click)="goModel()">推演服务</a>

              </div>
        </div>

    </div>
</div>
</div>
