@charset "UTF-8";
/*framework*/
.tabs{
  position: relative;
  height: 60px;
  background-color: #131314;
  margin-bottom: 0px;
  border: 0px;
}
.tab_item{
  position: relative;
  top: 20px;
  border-radius: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 0px;
  width: 150px;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: normal;
  font-family: "MicrosoftYaHei";
  color: #5e5e5f;
  background-color: #0b0b0b;
  cursor: pointer;
  margin-right: 0px;
}
.focus{
  background-color: #19191a;
  color: #5158ff;
  font-weight: normal;
}
.status{
  background-color: #19191a;
  height: 1402px;
}
/*table*/
.table{
    position: relative;
    top: 28px;
    margin-left: 20px;
    width: 1660px;
}
.table th{
  height: 50px;
  background: #4e3fa9;
  border: 0px;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  font-weight: normal;
}
.table tr{
  text-align: center;
  background: #252525;
  height: 50px;
  font-size: 16px;
  font-family: "MicrosoftYaHei";
  color: #ededed;
}
.table tr:nth-child(even){
  background: #202020;
}
/*th*/
.name{
  width: 20%;
}
.scene{
  width: 20%;
}
.time{
  width: 20%;
}
.condition{
  width: 20%;
}
.progress{
  width: 20%;
}
