    <div class="header" [style.display]="focusTab==0?'none':''">
<!--        <div class="logo">
            <img src="assets/navigation/logo.png">
        </div>-->
        <p>DeepThinker算法建模训练平台</p>
        <div class="entry user">
            <img src="assets/navigation/admin.png">
            <span>{{username}}</span>
        </div>
        <div class="entry logout">
            <img src="assets/navigation/out.png">
            <span (click)="logout()">退出</span>
        </div>
    </div>
    <nav [style.display]="(focusTab!=0)?'':'none'" class="nav-content">
      <div class="nav_element" style="height: 120px;">
        <img src="assets/navigation/logo1.png" class="logo">
      </div>
        <div class="nav_element" id="nav1" [class.focusTab] = "focusTab==1" routerLinkActive="active"  (click)="changeTab(1 , '/overview');focusCollapse='0'">
            <img [src]="focusTab!=1?'assets/navigation/icon_xxzl_01_n.png':'assets/navigation/icon_xxzl_01_h.png'" class="nav-icon">
            <a href="#" onclick="return false">信息总览</a>
        </div>
      <div class="nav_element" id="nav8" [class.focusTab] = "focusTab==7||focusTab==4||focusTab==2||focusTab==5" routerLinkActive="active"  (click)="changeTab(7);focusCollapse='0'" >
        <img [src]="focusTab==7||focusTab==4||focusTab==2||focusTab==5?'assets/navigation/sjj_bai.png':'assets/navigation/sjj_hui.png'"  class="nav-icon">
        <a href="#" onclick="return false" class="data-save">数据存储</a>
        <img [src]="loadArrow()" class="selectDown" [ngStyle]="getArrow()"/>
      </div>
      <div [style.display]="show_menu?'':'none'">
        <div class="nav_element" [class.focusTab1] = "focusTab==7" routerLinkActive="active"  (click)="changeTab(7 , '/datasetssave');focusCollapse='0'">
          <img [src]="focusTab!=7?'assets/navigation/icon_mx_05_n.png':'assets/navigation/icon_mx_05_h.png'" style="display: none">
          <a href="#" onclick="return false" class="two-menu">存储总览</a>
        </div>
        <div class="nav_element"  [class.focusTab1] = "focusTab==4" routerLinkActive="active"  (click)="changeTab(4 , '/datasets');focusCollapse='0'">
          <img [src]="focusTab!=4?'assets/navigation/icon_sjj_04_n.png':'assets/navigation/icon_sjj_04_h.png'" style="display: none">
          <a href="#" onclick="return false"  class="two-menu">数据集管理</a>
        </div>
        <div class="nav_element"  [class.focusTab1] = "focusTab==2" routerLinkActive="active"  (click)="changeTab(2 , '/algchains');focusCollapse='0'">
          <img [src]="focusTab!=2?'assets/navigation/icon_cj_02_n.png':'assets/navigation/icon_cj_02_h.png'" style="display: none">
          <a href="#" onclick="return false"  class="two-menu">场景管理</a>
        </div>
        <div class="nav_element"  [class.focusTab1] = "focusTab==5" routerLinkActive="active"  (click)="changeTab(5 , '/inferenceModel');focusCollapse='0'">
          <img [src]="focusTab!=5?'assets/navigation/icon_mx_05_n.png':'assets/navigation/icon_mx_05_h.png'" style="display: none">
          <a href="#" onclick="return false"  class="two-menu">模型服务管理</a>
        </div>
      </div>
      <div class="nav_element"  id="nav3" [class.focusTab] = "focusTab==3" routerLinkActive="active"  (click)="changeTab(3 , '/jobcreation');focusCollapse='0'">
        <img [src]="focusTab!=3?'assets/navigation/icon_xlrw_03_n.png':'assets/navigation/icon_xlrw_03_h.png'"  class="nav-icon">
        <a href="#" onclick="return false" >训练任务管理</a>
      </div>
      <div class="nav_element"  id="nav6" [class.focusTab] = "focusTab==6" routerLinkActive="active"  (click)="changeTab(6 , '/algplugins');focusCollapse='0'">
        <img [src]="focusTab!=6?'assets/navigation/icon_zj_06_n.png':'assets/navigation/icon_zj_06_h.png'"  class="nav-icon">
        <a href="#" onclick="return false" >算法组件库</a>
      </div>
<!--      <div class="nav_element"   [class.focusTab] = "focusTab==9" routerLinkActive="active"  (click)="changeTab(9 , '/boostedtree');focusCollapse='0'">
        <img [src]="focusTab!=9?'assets/navigation/szt_hui.png':'assets/navigation/szt_bai.png'"  class="nav-icon">
        <a href="#" onclick="return false" >Boosted Tree</a>
      </div>-->
        <!--<div class="nav_element" [class.focusTab] = "focusTab==8" routerLinkActive="active"  (click)="changeTab(8 , '/algchainAlone');focusCollapse='0'">-->
            <!--<img [src]="focusTab!=8?'assets/navigation/icon_5.png':'assets/navigation/icon_5_h.png'">-->
            <!--<a href="#" onclick="return false" >算法链</a>-->
        <!--</div>-->
        <!--<div class="nav_element" [class.focusTab] = "focusTab==7" routerLinkActive="active"  (click)="changeTab(7 , '/history');focusCollapse='0'">-->
            <!--<img [src]="focusTab!=7?'assets/navigation/icon_5.png':'assets/navigation/icon_5_h.png'">-->
            <!--<a href="#" onclick="return false" >推演历史</a>-->
        <!--</div>-->

     <!-- <a routerLinkActive="active" routerLink="/overview">信息总览</a>
     <br/>
     <a routerLinkActive="active" routerLink="/datasets">Datasets</a>
     <br/>
     <a routerLinkActive="active" routerLink="/algchains">Algo Chains</a>
     <br/>
     <a routerLinkActive="active" routerLink="/algplugins">Alg Plugins</a>
     <br/>
     <a routerLinkActive="active" routerLink="/trainingjobs">Training Jobs</a>
     <br/>
     <a routerLinkActive="active" routerLink="/jobcreation">Create Job</a>
     <br/>
     <a routerLinkActive="active" routerLink="/network-editor">Network Editor</a>
     <br/> -->
   </nav>
    <router-outlet></router-outlet>
