.result-container{
  margin: 30px;
  background-color: #fff;
  overflow: hidden;
}

.percent{
  color: #333333;
  font-size: 16px;
  margin: 20px 0;
}
.historyCont{
  padding-left: 20px;
  padding-right: 20px;
}
.historyCont .table{
  width:100%;
  margin:0;
  padding:0;
}
.result-container select{
  float: right;
}
