<div class="container">
  <div class="tabs">
    <div class="tab_item" routerLinkActive="active" routerLink="/datasetssave">存储总览</div>
    <div class="tab_item" routerLinkActive="active" routerLink="/overview">资源状态</div>
    <div class="tab_item focus" routerLinkActive="active" routerLink="/runningtask">任务列表(运行中)</div>
  </div>
  <div id="taskDiv" class="status taskStatus">
    <div class="selectContainer">
      <select class="select" name="scene_select" [(ngModel)]="student" (ngModelChange)="student=$event;selectChange()">
        <option value="0">选择场景</option>
        <option value="{{scene.id}}" *ngFor=" let scene of SceneInfo">{{scene.translation}}</option>
      </select>
    </div>
    <taskStatus [statuss]="statuss" [sceneId]="student"></taskStatus>
  </div>
</div>
