.error-content {
  position: relative;
  border-radius: 3px;
  color: #666666;
  font-size: 12px;
  margin: 20px 57px 0 57px;
  display: flex;
  align-items: center;
}
.error-content label {
  font-size: 14px;
  color: #333;
  margin-left: 18px;
}
.error-content span{
  display: inline-block;
  margin:10px 0;
}
.error-content img {
  margin-left: 18px;
}
