.myfile-wrapper{
  border-top: 1px solid #eee;
  /*margin:20px 0;*/
}
.myfile-content{
  margin-top: 30px;
}
.myfile-file{
  display: block;
  margin:18px auto 0;
  clear: right;
}
.myfile-delete{
  display: block;
  position: absolute;
  top:0;
  right:0;
}
.myfile-check{
  position: absolute;
  right:0;
  top:20px;
}
.myfile-model{
  position: relative;
  display: inline-block;
  width:120px;
  height:126px;
  overflow: hidden;
  margin-bottom: 30px;
  background: transparent;
}
.myfile-model-unloading{
  background: #f1f1f1;
  margin: -5px 12px;
  padding: 10px 10px;
  height: 85px;
}
.myfile-model-loaded{
  padding: 2px;
  height: 120px;
}
.myfile-model span{
  display: block;
  text-align: center;
  font-size: 14px;
  color: #333333;
  padding-top: 24px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  width:100px;
  margin:0 auto;

}
.myfile-input{
  width:78px;
  box-sizing: border-box;
  border-radius: 2px;
  height:30px;
  border:1px solid #d3d3d3;
  margin: 20px auto 0;
  display: block;
  text-align: center;
  color: #333333;
}
.myfile-input:focus{
  height:30px;
}
.filebg{
  background: #f1f4f9;
  cursor: pointer;
}
/*.marginTop{
  margin-top: 0;
}*/
