.table {
  width: 96%;
  margin-left: 24px;
  margin-top: 30px;
  border-collapse: collapse;
  border: solid 1px #d3d3d3;
}
.table th{
  height: 4.63vh;
  background: #ffffff;
  padding-left: 20px;
  font-size: 0.83vw;
  line-height: 50px;
  color: #333333;
  text-align: left;
  font-weight: normal;
}
.table tr{
  text-align: left;
  background: #eeeeee;
  height: 4.63vh;
  font-size: 0.73vw;
  font-family: "MicrosoftYaHei";
  border-bottom:1px solid #d3d3d3;
  color: #666666;
}

.table th {
  height: 4.63vh;
  background: #ffffff;
  padding-left: 20px;
  font-size: 0.83vw;
  line-height: 50px;
  color: #333333;
  text-align: left;
  font-weight: normal;
}

.table tr {
  text-align: left;
  background: #eeeeee;
  height: 4.63vh;
  font-size: 0.73vw;
  font-family: "MicrosoftYaHei";
  border-top: 1px solid #d3d3d3;
  color: #666666;
}

.table tr td {
  padding-left: 20px;
  word-break: break-all;
}

.table tr:nth-child(even) {
  background: #ffffff;
}

.showDetailBtn {
  cursor: pointer;
  color: #ff7c35;
  font-size: 0.73vw;
  text-decoration: none;
}
.showDetailBtn img{
  display: inline-block;
  margin-right: 10px;
}
/* th */
.id{
    width: 10%;
}
.name{
    width:16%;
}
.publish{
    width:8%;
}
.domain{
    width:8%;
}
.creator{
    width:10%;
}
.description{
    width:34%;
}
.detail{
    width:14%;
}

.tabs{
  position: relative;
  height: 50px;
  width:100%;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 0px;
  border: 0px;
  left:2%;
}
.tab_item{
  position: relative;
  border: 0px;
  float: left;
  margin-right: 4%;
  margin-left: 4px;
  text-align: center;
  font-size: 0.83vw;
  font-weight: normal;
  width:104px;
  font-family: "MicrosoftYaHei";
  color: #333333;
  height:50px;
  line-height: 50px;
  cursor: pointer;

}
.current{
  color: #ff7c35;
  font-weight: normal;
  border-bottom: 2px solid #ff7c35;
}
.status{
  background-color: #ffffff;
  margin-left: 2%;
  margin-top: 30px;
  border-radius: 5px;
  min-height: 1000px;
  border:1px solid #ffffff;
  margin-bottom: 100px;
}

.bottom_menu{
    position: relative;;
    width: 96%;
    height: 49px;
    background-color: #0b0b0b;
    margin:0 2% 0 2%;
}
.bottom_menu .label{
    position: relative;
    height: 21px;
    width: 400px;
    top: 14px;
    left: 30px;
    color: #e2e2e2;
    font-size: 20px;
    font-family: "MicrosoftYaHei";
    float: left;
    margin-right: 100px;
}
.bottom_menu .selectDiv{
    position: relative;
    width: 100px;
    height: 40px;
    float: left;
    outline: none;
}
.bottom_menu .selectDiv .select_pagemax{
    position: relative;
    width: 80px;
    height: 30px;
    top: 10px;
    outline: none;

}
.bottom_menu .pagebtn{

    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 90px;
    margin: 11px 8px 0 10px;
    float: right;
    background-color: #252525;
    color: #f7f7f7;
    border-radius: 4px;
    font-size: 16px;
    font-family: "MicrosoftYaHei";
    cursor: pointer;
}
.selectContainer{
  position: relative;
  top:18px;
  height:56px;
  left:24px;
  width:293px;
}
.select{
  position: absolute;
  height:36px;
  border-radius: 5px;
  width:294px;
  border: 1px solid #d3d3d3;
  font-size: 0.7vw;
  text-indent: 10px;
  color: #666;
}
.selectContainer img{
  position: absolute;
  right:0;
}
