<div class="container">
    <div id="modalDiv">
      <div class="tabs">
        <div (click)="sysTemplateClick()" id="tab_item1" class="tab_item" [class.focus]="showSystemPlugin==1">系统模版</div>
        <div (click)="selfTemplateClick()" id="tab_item2" class="tab_item" [class.focus]="showSystemPlugin==0">自定义模版</div>
      </div>
      <div [style.display]="showSystemPlugin==1 ? '' : 'none'" id="systemDiv" class="status">
          <div id="title"></div>
        <table id="systemTable" class="table">
          <th class="plugin_id">序号</th>
          <th class="plugin_name">名称</th>
          <th class="plugin_description">描述</th>
          <th class="operation">详情</th>
          <tr *ngFor="let plugin of plugins; let i = index" [style.display]="plugin.creator=='general'?'':'none'">
            <td>{{ plugin.id }}</td>
            <td>{{ plugin.alg_name }}</td>
            <td>{{ plugin.description }}</td>
            <td><a class="showDetail" routerLinkActive="active" routerLink="/algpluginDetail/{{plugin.id}}">查看详细</a></td>
          </tr>
        </table>
        <!--<div class="bottom_menu">
           <div class="label">TotalPages:<span></span></div>
           <div class="selectDiv" >
              <select class="select_pagemax" [(ngModel)]="pageMaxItem"  (ngModelChange)="maxItemChange();">
                  <option value="10" selected="{{pageMaxItem==10?'selected':''}}">10</option>
                  <option value="20" selected="{{pageMaxItem==20?'selected':''}}">20</option>
                  <option value="50" selected="{{pageMaxItem==50?'selected':''}}">50</option>
              </select>
          </div>
          <div *ngIf="page!=historyInfo.totalPages" class="pagebtn" (click)="nextPage()">Next</div>
          <div class="pagebtn" (click)="previousPage()">Previous</div>
        </div>-->
      </div>
      <div [style.display]="showSystemPlugin==0 ? '' : 'none'" id="selfDiv" class="status">
        <table id="selfTable" class="table">
            <th class="plugin_id">序号</th>
            <th class="plugin_name">名称</th>
            <th class="plugin_description">描述</th>
            <th class="operation">详情</th>
            <tr *ngFor="let plugin of plugins; let i = index" [style.display]="plugin.creator!='general'?'':'none'">
                <td>{{ plugin.id }}</td>
                <td>{{ plugin.alg_name }}</td>
                <td>{{ plugin.description }}</td>
                <td><a class="showDetail" routerLinkActive="active" routerLink="/algpluginDetail/{{plugin.id }}">查看详细</a></td>
            </tr>
        </table>
      </div>
  </div>

 </div>
