.scratchpad {
    border: 40px solid lightgray;
    position: fixed;
    height: 100%;
    width: 100%;
}

.attr-editor {
    background: #eeeeee;
    font-size: 18px;
    position: absolute;
    top: 5px;
}

#selected {
    float: right;
    display: block;
    margin-top: 15px;
}