<div class="scratchpad">
  <visualized-network (onLayerSelected)="onLayerSelected($event)" #vn> </visualized-network>

  <div class="attr-editor" [hidden]="!selectedLayer">
    <label> name: </label>
    <input type="text" [value]="selectedName" (input)="onInputChange($event.target.value)">
    <input type="button" (click)="vn.onSetLayerParamClick(selectedLayer)" value="set">
    <input type="button" (click)="vn.onDeleteLayerClick(selectedLayer)" value="delete">
  </div>
</div>

<router-outlet></router-outlet>

