.tips-content img,.tips-content span{
  display: inline-block;
  vertical-align: middle;
}
.icon{
  float: left;
}
.tips-content{
  font-size: 12px;
  border-radius: 2px;
  overflow: hidden;
  margin:20px auto 0;
  box-sizing: border-box;
}
.margin{
  margin:0 auto 20px !important;
}
.tips-content span{
  color: #333;
}
.tips-content span,.tips-content a{
  padding:9px 0;
  float: left;
}
.close{
  float: right;
  cursor: pointer;
}
