<div class="networkBox">
    <div class="tabs">
        <div class="tab_item" (click)="backup()">后退</div>
        <div class="tab_item">恢复出厂设置</div>
        <div class="tab_item right" onclick="saveParam()">保存</div>
        <div class="tab_item right">取消</div>
        <input hidden id="plugin_storage" />
        <input hidden id="layer_dictionary" />
        <button hidden onclick="init()" id="hideBtn" >Hide</button>
        <button hidden (click)="save()" id="saveBtn" >Hide</button>
    </div>
    <div class="status">
        <div class="leftBox">
            <div class="condition" [style.display]="type==scene?'':'none'">
                <div id="scene_name" class="name"></div>
                <div id="scene_description" class="description"></div>
            </div>
            <div class="alg_choose">
                <div class="alg_name"></div>
                <div class="alg_choose_descrip">可选算法层:(支持拖拽)</div>
                <div class="alg_choose_list" id="myPaletteDiv"></div>
            </div>
        </div>
        <div class="content" id="myDiagramDiv"></div>
        <div class="rightBox">
            <div class="layer_name"></div>
            <div class="layer_params"  id="property">
            </div>
        </div>
    </div>
</div>
