@charset "UTF-8";
.tabs{
    position: relative;
    height: 60px;
    background-color: #131314;
    margin-bottom: 0px;
    border: 0px;
}
.tab_item{
    position: relative;
    top: 20px;
    border-radius: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 0px;
    width: 150px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: normal;
    font-family: "MicrosoftYaHei";
    color: #5e5e5f;
    background-color: #0b0b0b;
    cursor: pointer;
    margin-right: 0px;
}
/*paramList*/
.sceneDetail .tab_item{
    color: #eeeeee;
    border: 2px solid #191919;
}
.sceneDetail .tab_item a{
    text-decoration: none;
    color: #eeeeee;
}
.back{
}
.reset{
    background-color: brown;
}
.right{
    float: right;
}
.cancel{
}
.save{
}
.edit{
    background-color: rgb(185,76,43);
}

.condition{
    width: 100%;
    height: 180px;
    background-color: #191919;
    margin-bottom: 20px;
    border-bottom: 1px solid #b9b9b9;
}
#scene_name{
    position: relative;
    font-family: "MicrosoftYaHei";
    color: #566dc1;
    font-size: 20px;
    margin-left: 20px;
    top: 30px;
}
#scene_description{
    position: relative;
    font-family: "MicrosoftYaHei";
    color: #b9b9b9;
    font-size: 20px;
    margin-left: 20px;
    top: 50px;
}
.data{
    background-color: #191919;
    height: 1202px;
}

/*table*/
.table{
    position: relative;
    margin-left: 20px;
    width: 1660px;
    margin-bottom: 50px;
}
.table th{
  height: 50px;
  background: #4e3fa9;
  border: 0px;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  font-weight: normal;
}
.table tr{
  text-align: center;
  background: #252525;
  height: 35px;
  font-size: 16px;
  font-family: "MicrosoftYaHei";
  color: #ededed;
  border: 1px solid #eeeeee;
}
#param_name{
    width: 30%;
}
#param_value{
    width: 70%;
}
/**/
#toNetwork{
    width: 100%;
    text-align: center;
}
#toNetwork a{
    text-decoration: none;
    color: white;
    width: 150px;
    background-color: skyblue;
    border: 3px solid white;
    border-radius: 3px;
}
