<div class="container">
  <!--<div id = "detailDiv">
    <div class="tabs">
      <div id="tab_item1" class="tab_item focus">参数列表</div>
      <div id="tab_item2" routerLinkActive="active" routerLink="/network/{{plugin.id}}" class="tab_item" [style.display]="plugin.has_training_network==0?'none':''">网络层</div>
      <div (click)="save()" id="tab_item3" class="tab_item tab_btn">保存</div>
      <div id="tab_item0" class="tab_item tab_btn" (click)="backup()">返回</div>
    </div>
  </div>-->
    <div class="networkBox">
        <div class="tabs">
          <div id="tab_item1" class="tab_item " routerLinkActive="active" routerLink="/algpluginDetail/{{plugin.id}},{{general}}">参数列表</div>
          <div id="tab_item2" routerLinkActive="active" routerLink="/network/{{plugin.id}}" class="tab_item focus" [style.display]="plugin.has_training_network==0?'none':''">网络层</div>
          <div (click)="save()" id="tab_item3" class="tab_item tab_btn">保存</div>
          <div id="tab_item0" class="tab_item tab_btn"><a routerLinkActive="active" routerLink="/algplugins">返回</a></div>
            <!-- <div class="tab_item">恢复出厂设置</div> -->
            <!-- <div class="tab_item right">取消</div> -->
            <input  hidden id="plugin_storage" />
            <input  hidden id="layer_dictionary" />
            <button hidden onclick="init()" id="hideBtn" >Hide</button>
            <button hidden onclick="load()" id="loadBtn" >Load</button>
            <button hidden onclick="save()" id="saveBtn2" >Hide</button>
            <button hidden onclick="saveParam()" id="saveBtn" >Hide</button>
        </div>
            <div class="status">
                <div class="chains">
                   <!-- <div class="alg_choose">-->
                        <!--<div class="alg_name">算法名称: {{plugin.alg_name}}</div>-->
                        <div class="alg_choose_descrip">可选算法层:</div>
                        <div class="alg_choose_drag">*支持拖拽</div>
                        <div class="alg_choose_list" id="myPaletteDiv"></div>
                   <!-- </div>-->
                </div>
                <div class="content" id="myDiagramDiv"></div>
                <div class="rightBox" id="rightBox">
                    <div class="layer_name"></div>
                    <div class="layer_params" id="property"></div>
                </div>
            </div>
    </div>
</div>
