<div class="result-container">
  <div class="historyCont">
    <div class="percent">
        <span>展示结果：</span>
        <span></span>
        <select [(ngModel)]="item" (ngModelChange)="item=$event;changeValue()"  *ngIf="inputType=='path'">
            <option value="{{i}}" *ngFor="let i of items">{{i}}</option>
        </select>
<!--      <select [(ngModel)]="word" (ngModelChange)="word=$event;changeWord(word)" [style.display]="(type == 'txt'||type == 'csv')?'':'none'" >
        <option value="{{i}}" *ngFor="let i of arr1">{{i}}</option>
      </select>-->
    </div>
    <table class="table">
        <th>上传内容</th>
        <th>显示结果</th>
        <tbody>
        <tr *ngFor="let re of result">
            <td style="width: 50%;"  *ngIf="inputType=='path'">
              <img src="{{SERVER_URL}}/api/file?filePath={{re.inputPath}}" style="max-height: 50px;margin-top: 16px;padding-left: 10px">
            </td>
            <td style="width: 50%;"  *ngIf="inputType=='text'">
              {{re.inputPath}}
            </td>
            <!--<td  *ngIf="type == 'txt'||type == 'csv'" >{{wordPut(re.output)}}</td>-->
            <td *ngIf="inputType=='path'">{{outPut(re.output)}}</td>
            <td *ngIf="inputType=='text'">{{re.output}}</td>
        </tr>
        </tbody>
    </table>
    <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
  </div>
</div>
