<div class="result-container">
    <div class="percent">
        <span>展示结果：</span>
        <span></span>
        <select [(ngModel)]="item" (ngModelChange)="item=$event;changeValue()">
            <option value="{{i}}" *ngFor="let i of items">{{i}}</option>
        </select>
    </div>
    <table class="table">
        <th>上传内容</th>
        <th>显示结果</th>
        <tbody>
        <tr *ngFor="let re of result">
            <td style="width: 50%;"><img src="{{SERVER_URL}}/api/file?filePath={{re.inputPath}}" style="max-height: 50px"></td>
            <td>{{output(re.output)}}</td>
        </tr>
        </tbody>
    </table>
  <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
</div>
