<div class=" container userBody">
  <span class="userTitle">用户信息</span>
  <div class="userContent">
    <div class="row">
      <span class="key">用户名：</span>
      <span class="value">admin</span>
    </div>
    <div class="row">
      <span class="key">密码：</span>
      <span class="value">admin</span>
    </div>
    <div class="row">
      <span class="key">用户类型：</span>
      <span class="value">超级管理员</span>
    </div>
    <div class="row">
      <span class="key" style="vertical-align: top;margin-top: 10px">权限结构：</span>
      <ul id="userTree" class="ztree"></ul>
    </div>
  </div>
</div>


