<div class="container">
    <div class="tabDiv sceneManage" [style.display]="ifShowNetwork==0?'':'none'">
        <div class="tabs">
            <div class="tab_item" [class.focus] = "1">已购场景</div>
        </div>
        <div class="status">
            <div class="allPurchaseScene" id="b04">
                <div class="scene" *ngFor="let SceneInfo of sceneArrays">
                    <span class="title">{{SceneInfo?.translation}}</span>
                    <a class="detail" (click)="showNetwork(SceneInfo?.id)" routerLinkActive="active">详情>></a>
                  <div class="sceneContent">
                    <div class="modelPreview">
                        <p>模型预览</p>
                        <div class="model">
                            <div class="node" id="node1" *ngFor="let item of SceneInfo.arrName">{{item}}</div>
                          <!--  <div class="nodeSpace">&nbsp;</div>
                           <div class="node" id="node2">Algplugin2</div>
                           <div class="nodeSpace">&nbsp;</div>
                           <div class="node" id="node3">Algplugin2</div>-->
                        </div>
                    </div>
                    <div class="sceneSpace">&nbsp;</div>
                    <div class="descrip">
                      <p class="descriptScene">场景描述</p>
                      <p>{{SceneInfo?.description}}</p>
                    </div>
                  </div>
                </div>
            </div>
<!--            <div class="verticalLine"></div>-->
            <div class="recommend">
                <h4>相关推荐场景：</h4>
                <div class="recommendScene">
                    <h4>航拍道路目标识别</h4>
                    <div class="modelPreview">
                        <div class="model">
                          <div class="node node1">Algplugin1</div>
                          <div class="nodeSpace">&nbsp;</div>
                          <div class="node">Algplugin2</div>
                          <div class="nodeSpace">&nbsp;</div>
                          <div class="node node2">Algplugin2</div>
                        </div>
                    </div>
                  <div class="descrip">
                    <p>属于视觉算法，主要利用图像语义分割以及卷积神经网络属于视觉算法，主要利用图像语义分割以及卷积神经网络</p>
                    <br>
                    <a href="#">查看</a>
                  </div>
                </div>
              <div class="recommendScene">
                <h4>航拍道路目标识别</h4>
                <div class="modelPreview">
                  <div class="model">
                    <div class="node node1">Algplugin1</div>
                    <div class="nodeSpace">&nbsp;</div>
                    <div class="node">Algplugin2</div>
                    <div class="nodeSpace">&nbsp;</div>
                    <div class="node node2">Algplugin2</div>
                  </div>
                </div>
                <div class="descrip">
                  <p>属于视觉算法，主要利用图像语义分割以及卷积神经网络属于视觉算法，主要利用图像语义分割以及卷积神经网络</p>
                  <br>
                  <a href="#">查看</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="networkBox" [style.display]="ifShowNetwork==1?'':'none'">
<!--        <div class="tabs">
            <div class="tab_item" (click)="hideNetwork()">后退</div>
            &lt;!&ndash; <div class="tab_item">恢复出厂设置</div> &ndash;&gt;
            <div class="tab_item right" (click)="save()">保存</div>
            &lt;!&ndash; <div class="tab_item right">取消</div> &ndash;&gt;
        </div>-->
        <div class="status">
            <input hidden id="plugin_storage" />
            <input hidden id="layer_dictionary" />
            <input hidden id="param_dictionary" />
            <button hidden id="node_click_btn" (click)="nodeClicked();"></button>
            <button hidden onclick="init()" id="hideBtn" >Init</button>
            <button hidden onclick="load()" id="loadBtn" >Hide</button>
            <button hidden onclick="saveParam()" id="saveBtn" >Hide</button>
          <div class="sceneHeader">
            <div class="sceneName">{{chosen_scene.translation}}</div>
            <div class="sceneDescript">
              <span>场景描述：{{chosen_scene.description}}</span>
              <a (click)="edit()" [style.display]="ifEdit==1?'none':''" id="edit">编辑</a>

              <a class="bgColor" (click)="save()" [style.display]="ifEdit==1?'':'none'">保存</a>
              <a class="bgColor" (click)="hideNetwork()" [style.display]="ifEdit==1?'':'none'">后退</a>
            </div>
          </div>
            <div class="leftBox">
<!--                <div class="condition" [style.display]="type==scene?'':'none'">
                    <div id="scene_name" class="name"></div>
                    <div id="scene_description" class="description">{{chosen_scene.description}}</div>
                </div>-->
              <div class="chain">算法链：{{chainId}}</div>
                <div class="alg_choose">
                  <div class="pluginArr_item" *ngFor="let plugin of pluginArr" [class.focus]="plugin.id==chosenPluginId" (click)="changeChosenPlugin(plugin.id)"><img src="../assets/algchains/shengtailian.png"/><span>{{plugin.alg_name}}</span></div>
                </div>
            </div>
         <!-- [style.display]="ifEdit==1?'':'none'"-->
            <div class="chains" [style.display]="ifEdit==1?'':'none'">
              <div class="alg_choose_descrip">可选算法层:</div>
              <div class="alg_choose_drag">*支持拖拽</div>
              <div class="alg_choose_list" id="myPaletteDiv"></div>
            </div>
            <div [style.display]="haveModel==1?'':'none'" class="content" id="myDiagramDiv"></div>
            <div [style.display]="haveModel==0?'':'none'" class="content" id="nocontent"><h1 style="{color:white;}">该插件无网络层</h1></div>
            <!--<div class="rightBox" id="rightBox_plugin" [style.display]="rightBox_node==0?'':'none'">
                <div *ngFor="let editable_parameter of editable_parameters">
                    <div class="layer_name">{{editable_parameter.editable_param.name}}</div>
                    <div class="layer_params" id="property_plugin">
                        <input readonly  *ngIf="editable_parameter.editable_param.type!='enums'&&editable_parameter.editable_param.type!='list'&&editable_parameter.editable_param.type!='boolean'&&creator=='general'" [placeholder]="'From '+((editable_parameter.editable_param.type=='int'||editable_parameter.editable_param.type=='float')&&editable_parameter.editable_param.has_min?editable_parameter.editable_param.min_value:'-&infin;')+' to '+((editable_parameter.editable_param.type=='int'||editable_parameter.editable_param.type=='float')&&editable_parameter.editable_param.has_max?editable_parameter.editable_param.max_value:'+&infin;')"
                            class="param_input" [value]="editable_parameter.editable_param.set_value" (change)="setValue(editable_parameter.editable_param,$event.target.value);$event.target.value=editable_parameter.editable_param.set_value;" />
                        <input  *ngIf="editable_parameter.editable_param.type!='enums'&&editable_parameter.editable_param.type!='list'&&editable_parameter.editable_param.type!='boolean'&&creator!='general'" [placeholder]="'From '+((editable_parameter.editable_param.type=='int'||editable_parameter.editable_param.type=='float')&&editable_parameter.editable_param.has_min?editable_parameter.editable_param.min_value:'-&infin;')+' to '+((editable_parameter.editable_param.type=='int'||editable_parameter.editable_param.type=='float')&&editable_parameter.editable_param.has_max?editable_parameter.editable_param.max_value:'+&infin;')"
                               class="param_input" [value]="editable_parameter.editable_param.set_value" (change)="setValue(editable_parameter.editable_param,$event.target.value);$event.target.value=editable_parameter.editable_param.set_value;" />
                        <select disabled="disabled" *ngIf="editable_parameter.editable_param.type=='enums'&&creator=='general'" class="select" name="data_select" (change)="editable_parameter.editable_param.set_value=$event.target.value;">
                            <option *ngFor="let value of editable_parameter.editable_param.allowed_values" value="{{ value }}">{{ value }}</option>
                        </select>
                        <select enabled="enabled" *ngIf="editable_parameter.editable_param.type=='enums'&&creator!='general'" class="select" name="data_select" (change)="editable_parameter.editable_param.set_value=$event.target.value;">
                            <option *ngFor="let value of editable_parameter.editable_param.allowed_values" value="{{ value }}">{{ value }}</option>
                        </select>
                        <select disabled="disabled" *ngIf="editable_parameter.editable_param.type=='boolean'&&creator=='general'" class="select" name="data_select" (change)="editable_parameter.editable_param.set_value=$event.target.value;">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                        <select enabled="enabled" *ngIf="editable_parameter.editable_param.type=='boolean'&&creator!='general'" class="select" name="data_select" (change)="editable_parameter.editable_param.set_value=$event.target.value;">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                        <div *ngIf="editable_parameter.editable_param.type=='list'"class="select" name="data_select">
                            <div>
                                 <table *ngIf="editable_parameter.editable_param.shape.length==2">
                                     <tr *ngFor="let array1 of editable_parameter.editable_param.default_value;let i1 = index;">
                                         <td *ngFor="let value1 of array1;let j1 = index;">
                                             &lt;!&ndash; <input *ngIf="editable_parameter.editable_param.d_type!='ENUM'&&editable_parameter.editable_param.d_type!='LIST'&&editable_parameter.editable_param.d_type!='BOOL'" [placeholder]="'From '+((editable_parameter.editable_param.d_type=='INT'||editable_parameter.editable_param.d_type=='FLOAT')&&editable_parameter.editable_param.has_min?editable_parameter.editable_param.min_value:'-&infin;')+' to '+((editable_parameter.editable_param.d_type=='INT'||editable_parameter.editable_param.d_type=='FLOAT')&&editable_parameter.editable_param.has_max?editable_parameter.editable_param.max_value:'+&infin;')"
                                                 class="param_input" [value]="editable_parameter.editable_param.set_value" (change)="setValue(parameter,$event.target.value);test(param_num);$event.target.value=editable_parameter.editable_param.set_value;" />

                                             <select *ngIf="editable_parameter.editable_param.type=='ENUM'" class="select" name="data_select" (change)="editable_parameter.editable_param.set_value=$event.target.value;test(param_num);">
                                                 <option  *ngFor="let value of editable_parameter.editable_param.allowed_values" value="{{ value }}">{{ value }}</option>
                                             </select>

                                             <select *ngIf="editable_parameter.editable_param.type=='BOOL'" class="select" name="data_select" (change)="editable_parameter.editable_param.set_value=$event.target.value;test(param_num);">
                                                 <option value="true">true</option>
                                                 <option value="false">false</option>
                                             </select> &ndash;&gt;
                                             <input readonly type="text" name="" *ngIf="creator=='general'" value="{{ value1 }}" (change)="set2dArray(parameter,i1,j1,$event.target.value);$event.target.value=editable_parameter.editable_param.set_value[i1][j1];">
                                             <input  *ngIf="creator!='general'" type="text" name="" value="{{ value1 }}" (change)="set2dArray(parameter,i1,j1,$event.target.value);$event.target.value=editable_parameter.editable_param.set_value[i1][j1];">
                                         </td>
                                     </tr>
                                 </table>
                                 <div *ngIf="editable_parameter.editable_param.shape.length==3">
                                     <select *ngIf="creator=='general'" disabled="disabled">
                                         <option *ngFor="let array_2d of editable_parameter.editable_param.default_value;let i2 = index;" value="{{ i2+1 }}">{{ i2+1 }}</option>
                                     </select>
                                     <select *ngIf="creator!='general'" enabled="enabled">
                                         <option *ngFor="let array_2d of editable_parameter.editable_param.default_value;let i2 = index;" value="{{ i2+1 }}">{{ i2+1 }}</option>
                                     </select>
                                     <select *ngIf="creator=='general'" disabled="disabled">
                                         <option *ngFor="let array_2d of editable_parameter.editable_param.default_value;let i2 = index;" value="{{ i2+1 }}">{{ i2+1 }}</option>
                                     </select>
                                     <select *ngIf="creator!='general'" enabled="enabled">
                                         <option *ngFor="let array_2d of editable_parameter.editable_param.default_value;let i2 = index;" value="{{ i2+1 }}">{{ i2+1 }}</option>
                                     </select>
                                     <table>
                                         <tr *ngFor="let array2 of array_2d;let j2 = index;">
                                             <td *ngFor="let value2 of array2;let z2 = index;">
                                                 <input  readonly *ngIf="creator=='general'" type="text" name="" value="{{ value2 }}"  (change)="set2dArray(parameter,i1,j1,z1,$event.target.value);$event.target.value=editable_parameter.editable_param.set_value[i1][j1][z1];"/>
                                                 <input  *ngIf="creator!='general'" type="text" name="" value="{{ value2 }}"  (change)="set2dArray(parameter,i1,j1,z1,$event.target.value);$event.target.value=editable_parameter.editable_param.set_value[i1][j1][z1];"/>
                                             </td>
                                         </tr>
                                     </table>
                                 </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>-->
            <div class="rightBox" id="rightBox_node" [style.display]="rightBox_node==0?'none':''">
                <div class="layer_name"></div>
                <div class="layer_params" id="property"></div>
            </div>
        </div>
    </div>
</div>
