.bg{
  background-color: #fff;
  overflow: hidden;
  margin: 20px 30px;
  color: #333333;
  font-size:14px;
}

.nav{
  margin: 30px 20px;
  overflow: hidden;

}
.selectContainer{
  float: left;
}
.selectContainer span{
  line-height: 36px;
  height:36px;
  display: inline-block;
  vertical-align: middle;
}
.selectContainer select{
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background: url("../../assets/taskStatus/select.png") no-repeat;
  background-position: right;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
/*.selectContainer img{
  position: absolute;
  right:0;
}*/
.nav div{
  margin-right: 50px;
}

.nav select{
  width: 275px;
  height: 36px;
  line-height: 36px;
  padding-left: 6px;
  box-sizing: border-box;
  margin-left: 10px;
}

.table_section{
  margin-bottom: 50px;
  padding:0 20px;
}
.table{
  width:100%;
  margin:0;
}
.middle{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.see{
  background:url("../../assets/taskStatus/chakan-.png") no-repeat;
  width:21px;
  height:14px;
}
