<div class="container">
  <div class="bg">
    <div class="nav">
      <div class="item" (click)="$nav_click(1)" [ngClass] = "{'selected': s_nav_selected === 1}">我的模型服务</div>
      <div class="item" (click)="$nav_click(0)" [ngClass] = "{'selected': s_nav_selected === 0}">公共模型服务</div>
    </div>
    <div class="table_section" id="table_section">
      <uniform-tips *ngIf="showTip" [tipWidth]="tipWidth" [tipContent]="tipContent" [tipType]="tipType" [tipMargin]="tipMargin"(showTipChange)="showTipChange(event)"></uniform-tips>
      <div class="search">
        <div class="searchContainer">
          <input type="text" name="jobName" [(ngModel)]="jobName" class="search-input" placeholder="输入训练任务关键字" (ngModelChange)="jobName=$event;$search_change()"/>
          <img src="assets/jobcreation/sousuo.png" class="searchicon"/>
        </div>
        <div class="searchContainer">
          <input type="text" name="senceName" [(ngModel)]="senceName" class="search-input" placeholder="请输入场景关键字" (ngModelChange)="senceName=$event;$search_change()"/>
        </div>
      </div>
      <my-model  [s_nav_selected]="s_nav_selected" [jobName]="job" [senceName]="sence" *ngIf="s_nav_selected===1" (showIdChange)="showIdChange($event)" (failChange)="failChange($event)"></my-model>
      <public-model  [s_nav_selected]="s_nav_selected" [jobName]="job" [senceName]="sence" *ngIf="s_nav_selected===0" (showIdChange)="showIdChange($event)" (failChange)="failChange($event)"></public-model>
    </div>
  </div>
</div>
