<div class="container">
  <div class="bg">
    <div class="nav">
      <div class="item" (click)="$nav_click(0)" [ngClass] = "{'selected': s_nav_selected === 0}">我的模型服务</div>
      <div class="item" (click)="$nav_click(1)" [ngClass] = "{'selected': s_nav_selected === 1}">公共模型服务</div>
    </div>
    <!--  <div class="nav">
        <div class="selectContainer">
          <span>场景选择</span>
          <select class="select" name="scene_select" [(ngModel)]="scene" (ngModelChange)="scene=$event;selectSceneChange()">
            <option  *ngFor=" let item of sceneInfo" value="{{item.id}}">{{item.translation}}</option>
          </select>
    </div>
  <!--      <div class="selectContainer">
          <span>算法链选择</span>
          <select class="select" name="scene_select" [(ngModel)]="chain" (ngModelChange)="chain=$event;selectChainChange()">
            <option  *ngFor=" let item of chainInfo" value="{{item.chain_name}}">{{item.chain_name}}</option>
          </select>
        </div>
      </div>-->
    <div class="table_section" id="table_section">
      <div class="search">
        <div class="searchContainer">
          <input type="text" name="searchName" [(ngModel)]="searchName" class="search-input" placeholder="输入训练任务关键字"/>
          <img src="assets/jobcreation/sousuo.png" class="searchicon"/>
        </div>
        <div class="searchContainer">
          <input type="text" name="senseName" [(ngModel)]="senseName" class="search-input" placeholder="请输入场景关键字"/>
        </div>
      </div>
      <my-model [modelList]="modelList" [dataIndex]="dataIndex" *ngIf="s_nav_selected===0"></my-model>
      <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
      <!--<publish-model [(showModel)]="showModel"></publish-model>-->
    </div>
  </div>
</div>
