.bg{
  overflow: hidden;
  margin: 20px 30px 0 30px;
  color: #333333;
  font-size:14px;
}

.nav {
  overflow: hidden;
  width: 100%;
  height: 42px;
  background: #fff;
  margin-bottom: 20px;
}
.nav .item {
  float: left;
  height: 39px;
  width: 104px;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
  color: #333;
  margin-left: 14px;
  /* transition: 0.2s all linear 0s;*/
  cursor: pointer;
}
.nav .item.selected {
  color: #ff7c35;
  border-bottom: 3px solid #ff7c35;
}
.selectContainer{
  float: left;
}
.selectContainer span{
  line-height: 36px;
  height:36px;
  display: inline-block;
  vertical-align: middle;
}
.selectContainer select{
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background: url("../../assets/navigation/xlk.png") no-repeat right 10px center;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
/*.selectContainer img{
  position: absolute;
  right:0;
}*/
.nav div{
  margin-right: 20px;
}

.nav select{
  width: 275px;
  height: 36px;
  line-height: 36px;
  padding-left: 6px;
  box-sizing: border-box;
  margin-left: 10px;
}

.table_section{
  border:1px solid #fff;
  padding:0 20px;
  background-color: #fff;
}
.table{
  width:100%;
  margin:0;
}
.search{
  padding:20px 0 40px;
}
.searchContainer {
  position: relative;
  flex: 0 0 275px;
  width: 275px;
  height: 36px;
  border-radius: 5px;
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #999999 !important;
  outline: none;
  margin-right: 20px;
  display: inline-block;
}
input::-webkit-input-placeholder { /* WebKit browsers */
  color:#999;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#999;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#999;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:#999;
}
.search-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  width: 275px;
  height: 36px;
  border-radius: 5px;
  border: solid 1px #d3d3d3;
  font-family: "MicrosoftYaHei";
  font-size: 12px;
  color: #999999 !important;
  outline: none;
  padding-right:35px;
}
.searchicon {
  position: absolute;
  display: inline;
  top: 9px;
  right:10px;
  width: 17px;
  height: 18px;
}
.middle{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.see{
  background:url("../../assets/taskStatus/chakan-.png") no-repeat;
  width:21px;
  height:14px;
}



.tips-content img,.tips-content span{
  display: inline-block;
  vertical-align: middle;
}
.icon{
  margin:9px 15px 0 20px;
  float: left;
}
.tips-content{
  width:100%;
  background:#f9e8e4 ;
  border: 1px solid #ee8059;
  font-size: 12px;
  border-radius: 2px;
  overflow: hidden;
  margin:20px auto 0;
  box-sizing: border-box;
}
.margin{
  margin:0 auto 20px !important;
}
.tips-content span{
  color: #333;
}
.tips-content span,.tips-content a{
  padding:9px 0;
  float: left;
}
.close{
  margin-right: 12px;
  margin-top: 12px;
  float: right;
  cursor: pointer;
}

