<div class="container">
  <div class="bg">
    <div class="nav">
      <div class="item" (click)="$nav_click(1)" [ngClass] = "{'selected': s_nav_selected === 1}">我的模型服务</div>
      <div class="item" (click)="$nav_click(0)" [ngClass] = "{'selected': s_nav_selected === 0}">公共模型服务</div>
    </div>
    <div class="table_section" id="table_section">
      <div *ngIf="s_nav_selected === 0">
        <div class="tips-content" *ngFor="let item of saveShowFail" [style.display]="item.selected?'':'none'">
          <img src="assets/uniform-tips/cuowu.png" class="icon"/>
          <span>任务名称{{item.jobName}}v{{item.version}}发布失败--{{item.failReason}}</span>
          <img src="../assets/uniform-tips/guanbi.png" class="close" (click)="close(item.id)"/>
        </div>
        <div class="shrink" *ngIf="saveShowFail.length>2&&showMore" (click)="toggle()">
          <img src="assets/jobcreation/look_more.png"/>
          <span>查看更多</span>
        </div>
        <div class="shrink" *ngIf="saveShowFail.length>2&&!showMore">
          <img src="assets/jobcreation/shouqi.png"/>
          <span>收起消息</span>
        </div>
      </div>
      <div class="search">
        <div class="searchContainer">
          <input type="text" name="jobName" [(ngModel)]="jobName" class="search-input" placeholder="输入训练任务关键字" (ngModelChange)="jobName=$event;$search_change()"/>
          <img src="assets/jobcreation/sousuo.png" class="searchicon"/>
        </div>
        <div class="searchContainer">
          <input type="text" name="senceName" [(ngModel)]="senceName" class="search-input" placeholder="请输入场景关键字" (ngModelChange)="senceName=$event;$search_change()"/>
        </div>
      </div>
      <my-model  [s_nav_selected]="s_nav_selected" [jobName]="job" [senceName]="sence" [jobId]="jobId" *ngIf="s_nav_selected===1" (showIdChange)="showIdChange($event)" (failChange)="failChange($event)"></my-model>
      <public-model  [s_nav_selected]="s_nav_selected" [jobName]="job" [senceName]="sence" [jobId]="jobId" *ngIf="s_nav_selected===0"  (showFailReasonChange)="showFailReasonChange($event)" (pageShowFailReasonChange)="pageShowFailReasonChange($event)"></public-model>
    </div>
  </div>
</div>
