.progress-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1500;
  transition: 0.3s all linear 0s;
  background: rgba(0,0,0,0.7);
}

.progress-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 100px;
  transition: 0.3s all linear 0s;
  background: -moz-linear-gradient(top, #ffffff -120%, #24a881 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-120%,#ffffff), color-stop(100%,#24a881));
  background: -webkit-linear-gradient(top, #ffffff -120%,#24a881 100%);
  background: -o-linear-gradient(top, #ffffff -120%,#24a881 100%);
  background: -ms-linear-gradient(top, #ffffff -120%,#24a881 100%);
  background: linear-gradient(to bottom, #ffffff -120%,#24a881 100%);
  overflow: hidden;
  box-shadow: 0 0 30px rgba(255,255,255,0.2);
}
.close-icon {
  position: absolute;
  top: 16px;
  right: 20px;
  height: 13px;
  width: 13px;
  cursor: pointer;
  z-index: 1600;
}
.progress {
  font-family: PingFangSC-Ultralight, Microsoft Yahei;
  position: absolute;
  top:100px;
  right: 100px;
  color: #fffefe;
  font-size: 50px;
  line-height:100%;
}
.progress .suffix {
  font-size: 25px;
}
.title {
  font-family: Microsoft Yahei;
  position: absolute;
  top: 45px;
  left: 60px;
  color: rgba(255,255,255,0.8);
  font-size: 18px;
  text-shadow: 0px 0px 2px #bcbcbc;
}
.logs {
  position: absolute;
/*  left: 60px;
  bottom: 15px;*/
  height: 100px;
  line-height: 100px;
  padding-left: 30px;
  width: 600px;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
}
.logs p {
  font-family: Microsoft Yahei;
  margin: 6px 0;
  color: rgba(255,255,255,0.9);
}
.logs p.one {
  color: rgba(255,255,255,0.2);
}
.logs p.two {
  color: rgba(255,255,255,0.4);
}
.logs p.three {
  color: rgba(255,255,255,0.6);
}
.logs p.four {
  color: rgba(255,255,255,0.8);
}
.animate {
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  border-right: 1px solid #2fe5a7;
  background-image: -webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background-image: -moz-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background-image: -o-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  background-image: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,0.18) 100%);
  animation: progress 3s linear 0s infinite ;
}

@keyframes progress
{
  from {left: -150px;}
  to {left: 900px;}
}

@-moz-keyframes progress /* Firefox */
{
  from {left: -150px;}
  to {left: 900px;}
}

@-webkit-keyframes progress /* Safari 和 Chrome */
{
  from {left: -150px;}
  to {left: 900px;}
}

@-o-keyframes progress /* Opera */
{
  from {left: -150px;}
  to {left: 900px;}
}

.finish {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.18);
  transition: 0.3s all linear 0s;
}
