.tabs{
    position: relative;
    height: 60px;
    background-color: #131314;
    margin-bottom: 0px;
    border: 0px;
}
.tab_item{
    position: relative;
    top: 20px;
    border-radius: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 0px;
    width: 150px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: normal;
    font-family: "MicrosoftYaHei";
    color: #5e5e5f;
    background-color: #0b0b0b;
    cursor: pointer;
    margin-right: 0px;
}
.tab_item a{
    text-decoration: none;
    color: #5e5e5f;
}
.focus{
    background-color: #19191a;
    color: #516af8;
    font-weight: normal;
}
.status{
    position: relative;
    background-color: #19191a;
    height: 1402px;
}

/*cotent*/
.tabDiv{
    width: 100%;
    height: 100%;
}
.allPurchaseScene{
    background-color: #191919;
    position: relative;
    margin-top: 50px;
    width: 60%;
    height:auto;
    min-height:923px;
    height: auto;
    padding-bottom: 50px;
    float: left;
    margin-left: 14px;

}
.scene{
    background-color: #352992;
    position: relative;
    margin-bottom: 50px;
    left: -5px;
    float: left;
    width: 46%;
    height: 352px;
    border-radius: 5px;
    margin-left: 4%;

}
.scene_1{
    background-color: #cd3458;
    /*margin-left: 41px;
    top:50px;*/


}
.scene_2{
    background-color: #4e2f88;
    /*margin-left: 48px;
    top:50px;*/

}
.scene_3{
    background-color: #352992;
    /*margin-left: 41px;
    margin-top:34px;*/

}
.scene_4{
    background-color: #4b3a6a;
    /*margin-left: 48px;
    margin-top:34px;*/


}
.scene h4{
    position: relative;
    font-family: "MicrosoftYaHei";
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    margin: 0px;
    margin-top: 32px;
}
.scene .descrip{
    position: relative;
    margin-top: 35px;
    width: 46%;
    height: 217.6px;
    float: left;

}
.scene .descrip p{
    height: 157.6px;
    font-family: "MicrosoftYaHei";
    color: #ffffff;
    font-size: 1rem;
    letter-spacing:2px;
    line-height:180%;
    text-indent: 8%;


}
.scene .descrip a{
    color: #eeeeee;
    font-size: 1rem;
    text-decoration: none;
    float: right;
    cursor: pointer;
    margin-right: 8px;

}
.scene .modelPreview{
    position: relative;
    margin-top: 20px;
    width: 46%;
    height: 217.6px;
    color: #eeeeee;
    float: left;
    margin-left: 2%;
    margin-right: 2%;

}
.scene .modelPreview p{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}
.scene .modelPreview .model{

}
.scene .modelPreview .model .node{
    position: relative;
    border: 1px solid#eeeeee;
    border-radius: 8px;
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin: 0 auto;

    margin-top: 0px;
    margin-bottom: 25px;
}
.verticalLine{
    background-color: #101010;
    margin-top: 0px;
    margin-left: 40px;
    width: 1px;
    height: auto;
    min-height: 100%;
    float: left;
}
.recommend{
    background-color: #191919;
    position: relative;

    width: 30%;

    height: auto;
    min-height:923px;
    margin-left: 16px;
    padding-bottom: 50px;
    float: left;
}
.recommend h4{
    position: relative;

    font-size: 1.2rem;

    margin-left: 16px;
    margin-bottom: 0px;
    color: #ffffff;
}
.recommend .recommendScene{
    position: relative;

    height: 296px;
    margin-left: 16px;
    border-radius: 5px;
    margin-bottom:32px;

}

.rs_1{
    background-color: #352992;


}
.rs_2{
    background-color: #0e0e0e;



}

.recommendScene h4{
    position: relative;
    display: block;
    font-family: "MicrosoftYaHei";
    color: #fcfcfc;
    font-size: 21px;
    text-align: center;
    top: 27px;
}
.recommendScene .descrip{
    position: relative;
    top: 70px;
    left: 18px;

    width: 46%;

    height: 130px;
    float: left;
}
.recommendScene .descrip p{

    height: 100px;
    font-family: "MicrosoftYaHei";
    color: #fcfcfc;
    font-size: 15px;
    letter-spacing:1.8px;
    line-height:170%;
    text-indent: 35px;
}
.recommendScene .descrip a{
    color: #fcfcfc;
    font-size: 15px;
    text-decoration: none;
    float: right;
    margin-right: 10px;

}
.recommendScene .modelPreview{
    position: relative;
    margin-top: 30px;
    width: 46%;
    height: 200px;
    color: #eeeeee;
    float: right;
    margin-left: 2%;
    margin-right: 2%;

}
.recommendScene .modelPreview p{
    position: relative;
    font-size: 18px;
    text-align: center;
}

.recommendScene .modelPreview .model .node{
    position: relative;
    border: 1px solid #eeeeee;
    border-radius: 8px;

    width: 94%;
    height: 24px;
    text-align: center;

    margin-top:10px;
    margin-bottom: 30px;
}


/*paramList*/
.sceneDetail .tab_item{
    color: #eeeeee;
    border: 2px solid #191919;
}
.sceneDetail .tab_item a{
    text-decoration: none;
    color: #eeeeee;
}
.back{
}
.reset{
    background-color: brown;
}
.right{
    float: right;
}
.cancel{
}
.save{
}
.edit{
    background-color: rgb(185,76,43);
}

.condition{
    width: 100%;
    height: 180px;
    background-color: #191919;
    margin-bottom: 20px;
    border-bottom: 1px solid #b9b9b9;
}
#scene_name{
    position: relative;
    font-family: "MicrosoftYaHei";
    color: #566dc1;
    font-size: 20px;
    margin-left: 20px;
    top: 30px;
}
#scene_description{
    position: relative;
    font-family: "MicrosoftYaHei";
    color: #b9b9b9;
    font-size: 20px;
    margin-left: 20px;
    top: 50px;
}
.data{
    background-color: #191919;
    height: 1202px;
}

/*table*/
.table{
    position: relative;
    margin-left: 20px;
    width: 1660px;
    margin-bottom: 50px;
}
.table th{
  height: 50px;
  background: #4e3fa9;
  border: 0px;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  font-weight: normal;
}
.table tr{
  text-align: center;
  background: #252525;
  height: 50px;
  font-size: 16px;
  font-family: "MicrosoftYaHei";
  color: #ededed;
  border: 1px solid #eeeeee;
}
#param_name{
    width: 30%;
}
#param_value{
    width: 70%;
}
/**/
#toNetwork{
    width: 100%;
    text-align: center;
}
#toNetwork a{
    text-decoration: none;
    color: white;
    width: 150px;
    background-color: skyblue;
    border: 3px solid white;
    border-radius: 3px;
}
/*left*/
.leftBox{

    width: 20%;

    background-color: #191919;
    float: left;
    height: 100%;
}
.condition{
    height: 250px;
    border-bottom: 1px solid #191919;
    margin-left: 20px;
}
.name{
    color: #516af8;
    font-size: 23px;
    margin-top: 40px;
    margin-bottom: 35px;
}
.description{
    color: #eeeee1;
    font-size: 18px;
    margin-right: 20px;
}
.alg_choose{
    margin-left: 20px;
    height: 1050px;
}
.alg_name{
    color: #eeeee1;
    font-size: 20px;
    margin-bottom: 16px;
    height: 5%;
}
.alg_choose_descrip{
    color: #eeeee1;
    font-size: 18px;
    margin-bottom: 16px;
    height: 5%;
}
.alg_choose_list{
    color: #eeeee1;
    /*margin-bottom: 50px;*/
    height: 90%;
}
.alg_plug{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.alg_plug img{

}
.alg_plug span{
    color: #eeeee1;
    font-size: 18px;
}
/**/
.networkBox{
    background-color: #191919;
}


.chains{
    overflow: auto;
    width: 20%;

    height: 100%;
    float: left;
    background-color: #191919;
    border-left: 1px solid grey;
}

/**//**/
.pluginArr_item{
    position: relative;
    width: 80%;
    left: 10%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
    background-color: #566dc1;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}
.pluginArr_item .focus{
    cursor: default;
    background-color: pink;
}
.content{
    overflow: auto;
    width: 32%;
    height: 100%;
    float: left;
    background-color: #191919;
    border-left: 1px solid grey;
}

.rightBox{
    width: 300px;
    background-color: black;
    float: right;
    height: 100%;
}
.layer_name{
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 40px;
    font-size: 25px;
    color: white;
}
.layer_params{
    margin-left: 20px;
    margin-bottom: 10px;
    color: white;
}
.layer_param{
    margin-bottom: 15px;
}
.layer_param .layer_param_name{
    font-size: 20px;
    margin-bottom: 5px;
}
.layer_param input{
    background: transparent;
    border: 0px;
    border-bottom: 1px solid grey;
    height: 35px;
    width: 100%;
    color: white;
    outline-style: none;
}
