.tabs{
    position: relative;
    height: 60px;
    background-color: #131314;
    margin-bottom: 0px;
    border: 0px;
}
.tab_item{
    position: relative;
    top: 20px;
    border-radius: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 0px;
    width: 150px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: normal;
    font-family: "MicrosoftYaHei";
    color: #5e5e5f;
    background-color: #0b0b0b;
    cursor: pointer;
    margin-right: 0px;
}
.focus{
    background-color: #19191a;
    color: #516af8;
    font-weight: normal;
}
.status{
    position: relative;
    background-color: #19191a;
    height: 1402px;
}

/*cotent*/
.tabDiv{
    width: 100%;
    height: 100%;
}
.allPurchaseScene{
    background-color: #191919;
    position: relative;
    margin-top: 50px;
    width: 1148px;
    height:auto;
    min-height:923px;
    height: auto;
    padding-bottom: 50px;
    float: left;
}
.scene{
    background-color: #352992;
    position: relative;
    margin-bottom: 50px;
    left: -5px;
    float: left;
    width: 526px;
    height: 352px;
    border-radius: 5px;
    margin-left: 48px;
}
.scene_1{
    background-color: #cd3458;
    /*margin-left: 41px;
    top:50px;*/


}
.scene_2{
    background-color: #4e2f88;
    /*margin-left: 48px;
    top:50px;*/

}
.scene_3{
    background-color: #352992;
    /*margin-left: 41px;
    margin-top:34px;*/

}
.scene_4{
    background-color: #4b3a6a;
    /*margin-left: 48px;
    margin-top:34px;*/


}
.scene h4{
    position: relative;
    font-family: "MicrosoftYaHei";
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    margin: 0px;
    margin-top: 32px;
}
.scene .descrip{
    position: relative;
    margin-top: 35px;
    margin-left: 20px;
    width: 250px;
    height: 217.6px;
    float: left;

}
.scene .descrip p{
    width: 250px;
    height: 157.6px;
    font-family: "MicrosoftYaHei";
    color: #ffffff;
    font-size: 18px;
    letter-spacing:2px;
    line-height:180%;
    text-indent: 40px;

}
.scene .descrip a{
    color: #eeeeee;
    font-size: 18px;
    text-decoration: none;
    float: right;
}
.scene .modelPreview{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    width: 220px;
    height: 217.6px;
    color: #eeeeee;
    float: left;
}
.scene .modelPreview p{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
}
.scene .modelPreview .model{

}
.scene .modelPreview .model .node{
    position: relative;
    border: 1px solid#eeeeee;
    border-radius: 8px;
    width: 135px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-left: 42.5px;
    margin-top: 0px;
    margin-bottom: 25px;
}
.verticalLine{
    background-color: #101010;
    margin-top: 0px;
    margin-left: 40px;
    width: 1px;
    height: auto;
    min-height: 100%;
    float: left;
}
.recommend{
    background-color: #191919;
    position: relative;
    width: 442px;
    height: auto;
    min-height:923px;
    margin-left: 16px;
    padding-bottom: 50px;
    float: left;
}
.recommend h4{
    position: relative;
    font-size: 24px;
    margin-left: 16px;
    margin-bottom: 0px;
    color: #ffffff;
}
.recommend .recommendScene{
    position: relative;
    width: 442px;
    height: 296px;
    margin-left: 16px;
    border-radius: 5px;
    margin-bottom:32px;
    margin-right: 40px;
}

.rs_1{
    background-color: #352992;


}
.rs_2{
    background-color: #0e0e0e;



}

.recommendScene h4{
    position: relative;
    display: block;
    font-family: "MicrosoftYaHei";
    color: #fcfcfc;
    font-size: 21px;
    text-align: center;
    top: 27px;
}
.recommendScene .descrip{
    position: relative;
    top: 70px;
    left: 18px;
    width: 210px;
    height: 130px;
    float: left;
}
.recommendScene .descrip p{
    width: 210px;
    height: 100px;
    font-family: "MicrosoftYaHei";
    color: #fcfcfc;
    font-size: 15px;
    letter-spacing:1.8px;
    line-height:170%;
    text-indent: 35px;
}
.recommendScene .descrip a{
    color: #fcfcfc;
    font-size: 15px;
    text-decoration: none;
    float: right;
}
.recommendScene .modelPreview{
    position: relative;
    margin-top: 30px;
    width: 180px;
    height: 200px;
    color: #eeeeee;
    float: right;
}
.recommendScene .modelPreview p{
    position: relative;
    font-size: 18px;
    text-align: center;
}

.recommendScene .modelPreview .model .node{
    position: relative;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    width: 120px;
    height: 24px;
    text-align: center;
    left: 30px;
    margin-top:10px;
    margin-bottom: 30px;
}


/*paramList*/
.sceneDetail .tab_item{
    color: #eeeeee;
    border: 2px solid #191919;
}
.sceneDetail .tab_item a{
    text-decoration: none;
    color: #eeeeee;
}
.back{
}
.reset{
    background-color: brown;
}
.right{
    float: right;
}
.cancel{
}
.save{
}
.edit{
    background-color: rgb(185,76,43);
}
#scene_name{
    position: relative;
    font-family: "MicrosoftYaHei";
    color: #566dc1;
    font-size: 20px;
    margin-left: 20px;
    top: 30px;
}
#scene_description{
    position: relative;
    font-family: "MicrosoftYaHei";
    color: #b9b9b9;
    font-size: 20px;
    margin-left: 20px;
    top: 50px;
}
