.table{
    width: 80%;
    margin: 0 0 0 2%;
    padding-top: 20px;
}
.table th,tr{
    height: 50px;
    border: 0;
    color: #ffffff;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    text-align: center;
}
.table th{
    background: #4e3fa9;
    font-size: 20px;
}
.table tr{
    color: #ededed;
    background: #252525;
    font-size: 16px;
}
.table tr td img{
    width:200px;
    height: 160px;
    display: block;
    margin: 0 auto;
}
.table tr td .result{
    margin: 20px auto 0;
}
.bottom_menu{
    width: 80%;
    height: 49px;
    background-color: #0b0b0b;
    margin:0 0 0 2%;
}
.bottom_menu .label{
    position: relative;
    height: 21px;
    width: 300px;
    top: 14px;
    left: 30px;
    color: #e2e2e2;
    font-size: 20px;
    font-family: "MicrosoftYaHei";
    float: left;
    margin-right: 100px;
}
.bottom_menu .label span{
    display: inline-block;
    margin-left: 10px;
}
.bottom_menu .selectDiv{
    position: relative;
    width: 100px;
    height: 40px;
    float: left;
    outline: none;
}
.bottom_menu .selectDiv .select_pagemax{
    position: relative;
    width: 80px;
    height: 30px;
    top: 10px;
    outline: none;

}
.bottom_menu .pagebtn{
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 90px;
    margin: 11px 8px 0 10px;

    float: right;
    background-color: #252525;
    color: #f7f7f7;
    border-radius: 4px;
    font-size: 16px;
    font-family: "MicrosoftYaHei";
    cursor: pointer;
}
