.table{
    width: 96%;
    margin: 0 0 0 2%;
    padding-top: 20px;
}
.table th,tr{
    height: 50px;
    border: 0;
    line-height: 50px;
    color: #ffffff;
    font-weight: normal;
    font-family: "Microsoft YaHei";
    text-align: center;
}
.table th{
    background: #4e3fa9;
    font-size: 20px;
}
.table tr{
    color: #ededed;
    background: #252525;
    font-size: 16px;
}
.showDetailBtn{
    cursor: pointer;
    color: #eeeeee;
    font-size: 18px;
    text-decoration: none;
}
/* th */
.id{
    width: 10%;
}
.name{
    width:16%;
}
.publish{
    width:8%;
}
.domain{
    width:8%;
}
.creator{
    width:10%;
}
.description{
    width:34%;
}
.detail{
    width:14%;
}
