.selectContainer {
  position: relative;
  top: 18px;
  height: 1.9vh;
  left: 18px;
  width: 293px;
  background-color: #fff;
}

.select {
  position: absolute;
  height: 36px;
  border-radius: 5px;
  width: 294px;
  border: 1px solid #d3d3d3;
  font-size: 0.7vw;
  text-indent: 10px;
  color: #666;
}

.selectContainer img {
  position: absolute;
  right: 0;
}

.taskStatusContainer {
  width: 97%;
  margin: 0 30px 0 30px;
  border-radius: 5px;

  background-color: #fff;

}

.table {
  width: 96%;
  margin-left: 30px;
  padding-right: 30px;
  border-collapse: collapse;
  border:solid 1px #666666;
}

.table th {
  height: 4.63vh;
  background: #ffffff;
  padding-left: 20px;
  font-size: 0.83vw;
  line-height: 50px;
  color: #333333;
  text-align: left;
  font-weight: normal;
}

.table tr {
  text-align: left;
  background: #eeeeee;
  height: 4.63vh;
  font-size: 0.73vw;
  font-family: "MicrosoftYaHei";
  border-top: 1px solid #d3d3d3;
  color: #666666;
}

.table tr td {
  padding-left: 20px;
}

.table tr:nth-child(even) {
  background: #ffffff;
}

/*.bottom_menu{
    position: relative;;
    width: 96%;
    height: 4.62vh;
    top:50px;
    left:2%;
    font-size: 0.62vw;
    color:#333333;
}
.bottom_menu .label{
    position: relative;
    height: 21px;
    width: 300px;
    font-family: "MicrosoftYaHei";
    float: left;
    margin-right: 100px;
}
!*.bottom_menu .label span:nth-of-type(2){
  color: #23a880;
}*!
.bottom_menu .selectDiv{
    position: relative;
    width: 15.6vw;
    height: 4.62vh;
    float: left;
    outline: none;
}
.selectDiv select{
  width:4vw;
  text-indent: 30%;
}
.btnDiv{
  float: right;
  margin-right: 30px;
  display: table-cell;
}
.btnDiv button {
  background: #ffffff;
  border:1px solid #c2c2c2;
  width:22px;
  height:22px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
.btnDiv .btn{
  width:60px;
}
.bottom_menu .selectDiv .select_pagemax{
    position: relative;
    width: 80px;
    height: 30px;
    top: 10px;
    outline: none;
}
.bottom_menu .pagebtn{
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 90px;
    margin: 11px 8px 0 10px;
    float: right;
    background-color: #252525;
    color: #f7f7f7;
    border-radius: 4px;
    font-size: 16px;
    font-family: "MicrosoftYaHei";
    cursor: pointer;
}*/
.showDetailBtn {
  cursor: pointer;
  color: #ff7c35;
  font-size: 0.73vw;
  text-decoration: none;
}

.operationBtn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 auto;
}

.stop {
  background: url('../../../assets/jobcreation/icon_01.png') no-repeat center;

}

.start {
  background: url('../../../assets/jobcreation/icon_02.png') no-repeat center;
}

/*th*/
/*
.name{
    width: 14%;
}
.scene{
    width: 16%;
}
.time{
    width: 14%;
}
.condition{
    width: 14%;
}
.progress{
    width: 14%;
}
.operation{
    width: 14%;
}
.formore{
    width: 14%;
}*/
