.selectContainer{
  position: relative;
  top:18px;
  height:36px;
  left:18px;
  width:293px;
}
.select{
  position: absolute;
  height:36px;
  border-radius: 5px;
  width:294px;
  border: 1px solid #d3d3d3;
  font-size: 0.7vw;
  text-indent: 10px;
  color: #666;
}
.selectContainer img{
  position: absolute;
  right:0;
}
.table{
    position: relative;
    top: 28px;
    margin:18px 0 0 18px;
    width: 96%;
    border:1px solid #d3d3d3;
    border-collapse: collapse;
}
.table th{
    height: 50px;
    background: #ffffff;
    padding-left: 20px;
    font-size: 0.83vw;
    line-height: 50px;
    color: #333333;
    text-align: left;
    font-weight: normal;
}
.table tr{
    text-align: left;
    background: #eeeeee;
    height: 50px;
    font-size: 0.73vw;
    font-family: "MicrosoftYaHei";
    border-top:1px solid #d3d3d3;
    color: #666666;
}
.table tr td{
  padding-left: 20px;
}
.table tr:nth-child(even){
    background: #ffffff;
}
.bottom_menu{
    position: relative;;
    width: 96%;
    height: 49px;
    top:50px;
    left:2%;
}
.bottom_menu .label{
    position: relative;
    height: 21px;
    width: 300px;
    color:#333333;
    font-size: 0.62vw;
    font-family: "MicrosoftYaHei";
    float: left;
    margin-right: 100px;
}
.bottom_menu .label span:nth-of-type(2){
  color: #23a880;
}
.bottom_menu .selectDiv{
    position: relative;
    width: 100px;
    height: 40px;
    float: left;
    outline: none;
}
.bottom_menu .selectDiv .select_pagemax{
    position: relative;
    width: 80px;
    height: 30px;
    top: 10px;
    outline: none;

}
.bottom_menu .pagebtn{
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 90px;
    margin: 11px 8px 0 10px;
    float: right;
    background-color: #252525;
    color: #f7f7f7;
    border-radius: 4px;
    font-size: 16px;
    font-family: "MicrosoftYaHei";
    cursor: pointer;
}
.showDetailBtn{
    cursor: pointer;
    color: #ff7c35;
    font-size: 0.73vw;
    text-decoration: none;
}
.operationBtn{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 auto;
}
.stop{
    background: url('../../../assets/jobcreation/icon_01.png') no-repeat center;

}
.start{
    background: url('../../../assets/jobcreation/icon_02.png') no-repeat center;
}
/*th*/
/*
.name{
    width: 14%;
}
.scene{
    width: 16%;
}
.time{
    width: 14%;
}
.condition{
    width: 14%;
}
.progress{
    width: 14%;
}
.operation{
    width: 14%;
}
.formore{
    width: 14%;
}*/
