<div class="taskStatusContainer">
  <table id="jobTable" class="table">
    <tr>
      <th class="name">任务名称</th>
      <th class="scene">场景名称</th>
      <th class="time">创建时间</th>
      <th class="condition">状态</th>
      <th class="progress">进度</th>
      <!--<th class="operation">操作</th>-->
      <th class="formore">操作</th>
    </tr>
    <!--*ngIf="jobInfo.sences==sceneId"-->
    <cpt-nodata *ngIf="dataIndex == 0" [colspan]="6"></cpt-nodata>
    <tr *ngFor="let jobInfo of Jobs_current;let i = index;" [style.display]="dataIndex == 1?'':'none'">
      <td title="{{jobInfo.jobName}}">{{jobInfo.jobName}}</td>
      <td title="{{jobInfo.sencesName}}">{{jobInfo.sencesName}}</td>
      <td title="{{jobInfo.createTime}}">{{jobInfo.createTime==null?'无设置':jobInfo.createTime}}</td>
      <td *ngIf="jobInfo.trainable == 0"></td>
      <td *ngIf="jobInfo.trainable != 0" title="{{jobInfo.status}}">{{jobInfo.status}}</td>
      <td *ngIf="jobInfo.trainable == 0"></td>
      <td *ngIf="jobInfo.trainable != 0" title="{{jobInfo.percent|percent:'.2'}}">{{jobInfo.percent==null?'0.00':jobInfo.percent|percent:'.2'}}</td>
      <!-- <td>{{jobInfo.job_progress}}%</td> -->
      <!--        <td class="operationTd">
                  <div *ngIf="jobInfo.status=='Running'" class="operationBtn stop" (click)="stop(jobInfo.jobPath)"></div>
                  <div *ngIf="jobInfo.status!='Running'" class="operationBtn start" (click)="start(jobInfo.jobPath)"></div>
              </td>-->
      <td class="operation" style="position: relative">
        <a *ngIf="jobInfo.trainable != 0" class="operationBtn see-detail" routerLinkActive="active" routerLink="/jobDetail/{{jobInfo.jobPath}}" (click)="getPage()" title="查看详情"></a>&nbsp;&nbsp;
        <a *ngIf="jobInfo.trainable == 0" class="operationBtn model" (click)="goModel(jobInfo.id)" title="推演"></a>
        <a *ngIf="jobInfo.status=='运行' && jobInfo.trainable != 0" class="operationBtn stop" (click)="stop(jobInfo.jobPath)" title="停止"></a>
        <a *ngIf="jobInfo.status!='运行' && jobInfo.trainable != 0" class="operationBtn start" (click)="start(jobInfo.jobPath)" title="运行"></a>
        <!--<a class="showDetailBtn"  routerLinkActive="active" (click)="checkStatus(jobInfo.status,jobInfo.sences,jobInfo.jobPath)">发布</a>-->
      </td>
    </tr>
  </table>
  <ng2-toasty class="toasty" [position]="'top-center'"></ng2-toasty>
  <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
  <app-gpu [gpuNum]="gpuNum" [show] = "gpu_show"  (sure)="sure($event)" (showChange)="showChange($event)"></app-gpu>
</div>
