<div class="taskStatusContainer">
  <table id="jobTable" class="table">
    <tr>
      <th class="name">任务名称</th>
      <th class="scene">场景名称</th>
      <th class="time">创建时间<img src="assets/taskStatus/down.png" id="timeSort" style="margin-left: 2px;cursor: pointer;" (click)="sortTime()"/></th>
      <th class="condition">状态</th>
      <th class="progress">进度</th>
      <th class="priority">优先级<img src="assets/taskStatus/taskStatusSort.png" id="jobPrioritySort" style="margin-left: 2px;cursor: pointer;" (click)="sortPriority()"/></th>
      <!--<th class="operation">操作</th>-->
      <th class="formore">操作</th>
    </tr>
    <!--*ngIf="jobInfo.sences==sceneId"-->
    <cpt-nodata *ngIf="dataIndex == 0" [colspan]="7"></cpt-nodata>
    <tr *ngFor="let jobInfo of Jobs_current;let i = index;" [style.display]="dataIndex == 1?'':'none'">
      <td title="{{jobInfo.jobName}}">{{jobInfo.jobName}}</td>
      <td title="{{jobInfo.sencesName}}">{{jobInfo.sencesName}}</td>
      <td title="{{jobInfo.createTime}}">{{jobInfo.createTime==null?'无设置':jobInfo.createTime}}</td>
      <td *ngIf="jobInfo.trainable == 0" title="{{jobInfo.status}}">{{(jobInfo.status=='模型发布成功'||jobInfo.status=='模型发布中'||jobInfo.status=='模型发布失败')?jobInfo.status:''}}</td>
      <td *ngIf="jobInfo.trainable != 0" title="{{jobInfo.status}}">{{jobInfo.status}}</td>
      <td *ngIf="jobInfo.trainable == 0"></td>
      <td *ngIf="jobInfo.trainable != 0" title="{{jobInfo.percent|percent:'.2'}}">{{jobInfo.percent==null?'-':jobInfo.percent|percent:'.2'}}</td>
      <!-- <td>{{jobInfo.job_progress}}%</td> -->
      <!--        <td class="operationTd">
                  <div *ngIf="jobInfo.status=='Running'" class="operationBtn stop" (click)="stop(jobInfo.jobPath)"></div>
                  <div *ngIf="jobInfo.status!='Running'" class="operationBtn start" (click)="start(jobInfo.jobPath)"></div>
              </td>-->
      <td title="{{jobInfo.jobPriority}}">{{jobInfo.jobPriority}}</td>
      <td class="operation" style="position: relative">
        <a *ngIf="jobInfo.trainable != 0" class="operationBtn see-detail" (click)="lookDetail(jobInfo)"  title="查看详情"></a>
        <a *ngIf="jobInfo.trainable == 0&&deductionAuthority" class="operationBtn model" (click)="goModel(jobInfo.id)" title="推演"></a>
        <a *ngIf="jobInfo.status=='模型发布中' && jobInfo.trainable != 0&&runJobAuthority" class="operationBtn unstart"></a>
        <a *ngIf="jobInfo.status=='运行' && jobInfo.trainable != 0 &&runJobAuthority" class="operationBtn stop" (click)="stop(jobInfo.jobPath)" title="停止"></a>
        <a *ngIf="jobInfo.status!='运行' && jobInfo.trainable != 0 &&runJobAuthority" class="operationBtn start" (click)="start(jobInfo.jobPath)" title="运行"></a>
        <a *ngIf="jobInfo.status.indexOf('模型')!=-1&& jobInfo.trainable != 0" (click)="deployNav()" routerLinkActive="active" routerLink="/inferenceModel/{{jobInfo.ifPublicSence}}/{{jobInfo.id}}" class="see-model operationBtn" title="查看已发布模型"></a>
        <a *ngIf="jobInfo.status.indexOf('模型')!=-1&& jobInfo.trainable == 0" (click)="deployNav()" routerLinkActive="active" routerLink="/inferenceModel/{{jobInfo.jobPath}}/{{jobInfo.id}}" class="see-model operationBtn" title="查看已发布模型"></a>
        <a *ngIf="jobInfo.status!='运行'&&jobInfo.status!='模型发布中'&&jobInfo.trainable != 0&&operateJobAuthority"  class="operationBtn edit" title="修改任务" (click)="editJob(jobInfo)"></a>
        <a *ngIf="jobInfo.status.indexOf('模型')==-1&& jobInfo.status!='运行'&&operateJobAuthority"  (click)="deleteJob(jobInfo.id,jobInfo.jobName)" class="operationBtn delete" title="删除任务"></a>
      </td>
    </tr>
  </table>
  <ng2-toasty class="toasty" [position]="'top-center'"></ng2-toasty>
  <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
  <app-tips [(show)]="showDelete" [content]="content" (deleteChange)="deleteChange($event)"></app-tips>
  <!--<app-gpu [gpuNum]="gpuNum" [show] = "gpu_show"  (sure)="sure($event)" (showChange)="showChange($event)"></app-gpu>-->
</div>
