.mymodel-table{
  margin:0;
}
.mymodel-table .table{
  width:100%;
  margin-left: 0;
}
#style-1::-webkit-scrollbar{
  height:10px;
  background-color: #eee;
  border: 1px solid #d3d3d3;
}
#style-1::-webkit-scrollbar-thumb{
  border-radius:10px;
  background-color:#999;
}
.see{
  background:url("../../../assets/api/chakan-.png") no-repeat;
}
.delete{
  background:url("../../../assets/api/shanchu.png") no-repeat;
}
.republish{
  background:url("../../../assets/api/chongxinfabu.png") no-repeat;
}
.restart{
  background:url("../../../assets/api/chongqifuwu.png") no-repeat;
}
.opearate{
  width:20px;
  height:20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 4px;
}
.fail{
  background:url("../../../assets/api/chakanshibai.png") no-repeat;
}
.failReason{
  position: relative;
  top:2px;
  left:4px;
  cursor: pointer;
}
.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 6666;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  justify-content: center;
  align-items: center;
}
/*.table{
  table-layout:fixed;
}
.table tr td{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}*/
