<div class="mymodel-table">
  <table class="table">
    <tr>
      <th style="width: 6%;">序号</th>
      <th style="width: 9%;">任务名称</th>
      <th style="width: 8%;">场景名称</th>
      <th style="width: 8%;">服务版本号</th>
      <th style="width: 10%;">发布状态</th>
      <th style="width: 10%;">服务状态</th>
      <th style="width: 18%;">RESTful API地址</th>
      <th style="width: 7%;">存储空间</th>
      <th style="width: 7%;">创建者</th>
      <th style="width: 9%;">创建时间</th>
      <th style="width: 8%;">操作</th>
    </tr>
    <cpt-nodata *ngIf="dataIndex == 0" [colspan]="11"></cpt-nodata>
    <tr  [style.display]="dataIndex == 1?'':'none'" *ngFor="let item of modelList;let i=index">
      <td>{{i+1}}</td>
      <td title="{{item.model.jobName}}">{{item.model.jobName}}</td>
      <td title="{{item.model.senceName}}">{{item.model.senceName}}</td>
      <td>{{item.model.version}}</td>
      <td>{{item.model.status}}<img src="../assets/api/chakanshibai.png" class="failReason" title="{{item.model.failReason}}" *ngIf="item.model.status=='发布失败'"/></td>
      <td>{{item.model.serviceStatus==null?'-':item.model.serviceStatus}}<img src="../assets/api/chakanshibai.png" class="failReason" title="自动化容器操作异常！" *ngIf="item.model.serviceStatus=='服务异常'"/></td>
      <td title="{{item.model.restfulUrl}}">{{item.model.restfulUrl}}</td>
      <td>{{item.model.size}}</td>
      <td>{{item.user.login}}</td>
      <td>{{item.model.createTime}}</td>
      <td>
        <a href="{{item.model.apiUrl}}" target="_blank" class="opearate see" *ngIf="item.model.status=='发布成功'" title="查看API说明文档"></a>
        <!--<a href="javascript:void(0)" class="opearate fail" *ngIf="item.model.status=='发布失败'" (click)="publishFail(item.model.id)" title="查看失败原因"></a>-->
        <a href="javascript:void(0)" class="opearate delete" (click)="delete(item.model.id)" title="删除模型" *ngIf="item.model.status!='发布中'"></a>
        <a href="javascript:void(0)" class="opearate republish" (click)="rePublish(item.model)" title="重新发布" *ngIf="item.model.status=='发布失败'"></a>
        <a href="javascript:void(0)" class="opearate restart" (click)="reStart(item.model.id)" title="重启服务" *ngIf="item.model.serviceStatus=='服务异常'"></a>
      </td>
    </tr>
  </table>
</div>
<page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
<div *ngIf="loading" class="loading">
  <img src="assets/datasets/loading.gif"/>
</div>
