<div class="image-container">
  <div class="imgCont">
    <div class="percent">
        <span>展示结果：</span>
    </div>
    <table class="table">
        <th>上传内容</th>
        <th>显示结果</th>
        <tbody>
        <tr *ngFor="let re of result">
            <td><img src="{{SERVER_URL}}/api/file?filePath={{re.inputPath}}" class="img" style="width:200px;"></td>
            <td style="display: flex;flex-direction: column"><img src="{{SERVER_URL}}/api/file?filePath={{outputImg(re.output)}}" (click)="enlarge(outputImg(re.output))" class="result" style="width: 200px"/><label class="text">{{outputLabel(re.output)}}</label></td>
        </tr>
        </tbody>
    </table>
    <!--<div class="large" [style.display]="tabIndex==1?'':'none'"><img src="{{SERVER_URL}}/api/file?filePath={{show}}" /><span (click)="closeWindow()">╳</span></div>-->
    <!--<div class="cover" [style.display]="tabIndex==1?'':'none'"></div>-->
  <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
  </div>
</div>

