.confirm-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 1500;
}
.confirm-content {
  box-sizing: border-box;
  width: 380px;
  min-height: 150px;
  position: relative;
  left:50%;
  top:50%;
  margin-left: -190px;
  margin-top: -102.5px;
  border: 1px solid #eeece8;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 2px rgba(255,255,255,0.5);
}
.item {
  width: 100%;
}
.top {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 35px;
  background: #eee;
}
.top label {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #333;
  margin-left: 15px;
}
.top img {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.content {
  text-align: center;
  box-sizing: border-box;
  height:110px;
  font-size: 14px;
  line-height: 110px;
  color: #333;
}
.op {
  box-sizing: border-box;
  overflow: hidden;
  margin:0px auto 30px;
}
.op div {
  float: left;
}
.sure {
  background: #23a880;
  margin-left: 105px;
}
.cancel {
  background: #eee;
  color: #333 !important;
  margin-left: 20px;
}
.sure:hover , .cancel:hover{
  opacity: 0.9;
}
.btn {
  margin-right: 10px;
  color: #fff;
  height: 28px;
  line-height: 28px;
  width: 70px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

