<div class="header" [style.display]="focusTab==0?'none':''">
  <div class="logo">
      <img src="assets/navigation/logo.png" style="margin-left: 36px">
  </div>
  <p>DeepThinker算法建模训练平台</p>
  <div class="entry user">
    <img src="assets/navigation/admin.png">
    <span>{{username}}</span>
  </div>
  <div class="entry logout">
    <img src="assets/navigation/out.png">
    <span (click)="logout()">退出</span>
  </div>
</div>
<nav [style.display]="(focusTab!=0)?'':'none'" class="nav-content">
  <div class="nav_element" id="nav1" style="position: relative;background: #e5e5e5;"  routerLinkActive="active"  (click)="changeTab(1 , '/nav');focusCollapse='0'">
    <img src="assets/user/fanhui.png" style="position: absolute;left: 50%;margin-left: -54px;"/>
    <a href="#" onclick="return false" style="color: #ff7c35;">返回平台</a>
  </div>
  <div class="nav_element"  [class.focusTab] = "focusTab==2" routerLinkActive="active"  (click)="changeTab(2 , '/userinfo');focusCollapse='0'">
    <a href="#" onclick="return false">用户信息</a>
  </div>
  <div class="nav_element"  [class.focusTab] = "focusTab==3" routerLinkActive="active"  (click)="changeTab(3 , '/usermanage');focusCollapse='0'">
    <a href="#" onclick="return false">用户管理</a>
  </div>
  <div class="nav_element"  [class.focusTab] = "focusTab==4" routerLinkActive="active"  (click)="changeTab(4 , '/authoritymanage');focusCollapse='0'">
    <a href="#" onclick="return false" >权限管理</a>
  </div>
</nav>
<router-outlet></router-outlet>
