.confirm-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1500;
}
.confirm-content {
  box-sizing: border-box;
  width: 350px;
  min-height: 150px;
  margin: 250px auto;
  border: 1px solid #eeece8;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 2px rgba(255,255,255,0.5);
}
.item {
  width: 100%;
}
.top {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #eeece8;
}
.top label {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  color: #333;
  margin-left: 15px;
}
.top img {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.content {
  box-sizing: border-box;
  min-height: 80px;
  font-size: 14px;
  line-height: 30px;
  padding: 8px 15px;
  color: #333;
}
.op {
  box-sizing: border-box;
  overflow: hidden;
}
.op div {
  float: right;
}
.sure {
  background: #23a880;
}
.cancel {
  background: #ff7c35;
}
.sure:hover , .cancel:hover{
  opacity: 0.9;
}
.btn {
  margin-right: 10px;
  color: #fff;
  height: 25px;
  line-height: 25px;
  width: 70px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

