<div class="container">
  <div class="tabs">
    <div id="tab_item1" class="tab_item" (click)="changeTab(0)" [class.focus]="tabIndex==0">资源状态</div>
    <div id="tab_item2" class="tab_item" (click)="changeTab(1)" [class.focus]="tabIndex==1">任务状态</div>
    <!--<div id="tab_item3" class="tab_item" (click)="changeTab(2)" [class.focus] = "tabIndex==2">数据集状态</div>-->
  </div>
  <div [style.display]="tabIndex==0?'':'none'" id="resourceDiv" class="status">
    <div class="total">
      <div class="cpu_gpu" [ngClass]="{gpu: gpuIndex==1}">
        <div class="chartsCont" *ngFor="let item of showGpu;let i=index">
          <div class="resourceTypeTitle" [style.display]="item.flag==1?'':'none'"><span>GPU{{i}}</span>
            <div class="checkStatus" *ngIf="i==0"><span *ngIf="focusImg==0" (click)="gpuToggle(1)">展开</span><span *ngIf="focusImg!=0" (click)="gpuToggle(0)">收起</span>
              <img src="../assets/overview/redown.png" (click)="gpuToggle(1)" *ngIf="focusImg==0"/>
              <img src="../assets/overview/reup.png" (click)="gpuToggle(0)" *ngIf="focusImg!=0"/>
            </div>
          </div>
          <div class="chart linechart" [style.display]="item.flag==1?'':'none'">
            <h4>GPU使用率(%)</h4>
            <div id="chartdiv{{item.tema}}" [style.width.%]="108" [style.height.px]="282"></div>
          </div>
          <div class="chart piechart" [style.display]="item.flag==1?'':'none'">
            <h4>GPU内存(%)</h4>
            <div id="chartdiv{{item.temb}}" [style.width.%]="108" [style.height.px]="282"></div>
          </div>
        </div>
      </div>
<!--      <div class="cpu gpu1" [style.display]="gpuIndex==1?'':'none'">
        <div class="resourceTypeTitle" style="padding-top: 0"><span style="padding-top: 0">GPU1</span>
        </div>
        <div class="chartsCont">
          <div class="flex-item"></div>
          <div class="chart linechart">
            <h4>GPU使用率(%)</h4>
            <div id="chartdiv3" [style.width.%]="108" [style.height.px]="282"></div>
          </div>
          <div class="flex-item"></div>
          <div class="chart piechart">
            <h4>GPU内存(%)</h4>
            <div id="chartdiv4" [style.width.%]="108" [style.height.px]="282"></div>
          </div>
          <div class="flex-item"></div>
        </div>
      </div>-->
    </div>
    <div class="total" style="margin-bottom: 120px">
      <div class="cpu">
        <div class="resourceTypeTitle"><span>CPU0</span>
        </div>
        <div class="chartsCont">
          <div class="flex-item"></div>
          <div class="chart linechart">
            <h4>CPU使用率(%)</h4>
            <div id="chartdiv0" [style.width.%]="108" [style.height.px]="282"></div>
          </div>
          <div class="flex-item"></div>
          <div class="chart piechart">
            <h4>物理内存(%)</h4>
            <div id="chartdiv" [style.width.%]="108" [style.height.px]="282"></div>
          </div>
          <div class="flex-item"></div>
        </div>
      </div>
    </div>
    <div class="total" [style.display]="cpuIndex==1?'':'none'">
      <div class="cpu">
        <div class="resourceTypeTitle"><span>CPU1</span>
          <div class="checkStatus">任务状态查询</div>
        </div>
        <div class="chart linechart">
          <h4>CPU使用率(%)</h4>
          <div id="chartdiv7" [style.width.%]="108" [style.height.vh]="29"></div>
        </div>
        <div class="chart piechart">
          <h4>物理内存(%)</h4>
          <div id="chartdiv8" [style.width.%]="108" [style.height.vh]="29"></div>
        </div>
      </div>
    </div>
  </div>
  <div [style.display]="tabIndex==1? '':'none'" id="taskDiv" class="status taskStatus">
    <div class="selectContainer">
      <select class="select" name="scene_select" [(ngModel)]="student" (ngModelChange)="student=$event;selectChange()">
        <option value="0">选择场景</option>
        <option value="{{scene.id}}" *ngFor=" let scene of SceneInfo">{{scene.translation}}</option>
      </select>
    </div>
    <taskStatus [statuss]="statuss" [sceneId]="student"></taskStatus>
  </div>
  <!--<div [style.display]="tabIndex==2? '':'none'" id="dateTask" class="status taskStatus">-->
  <!--<div class="disk">-->
  <!--<span class="diskSpace">磁盘剩余空间：</span><span class="spaceOut"><span class="spaceIn"></span></span><span class="diskCapacity">100G</span>-->
  <!--</div>-->
  <!--<table id="jobTable" class="table dataTable">-->
  <!--<tr>-->
  <!--<th class="name">数据集名称</th>-->
  <!--<th class="scene">创建者</th>-->
  <!--<th class="time">创建时间</th>-->
  <!--<th class="condition">存储空间</th>-->
  <!--</tr>-->
  <!--&lt;!&ndash; <tr *ngFor="let jobInfo of Jobs_current;let i = index;">-->
  <!--<td>{{jobInfo.jobName}}</td>-->
  <!--<td>{{jobInfo.sences==null?'无设置':jobInfo.sencesName}}</td>-->
  <!--<td>{{jobInfo.createTime==null?'无设置':jobInfo.createTime}}</td>-->
  <!--<td>{{jobInfo.status}}</td>-->
  <!--<td>{{jobInfo.percent==null?'0.0':jobInfo.percent|percent:'.2'}}</td>-->
  <!--<td>-->
  <!--<a class="showDetailBtn" routerLinkActive="active" routerLink="/jobDetail/{{jobInfo.jobPath}}">查看详情</a>-->
  <!--</td>-->
  <!--</tr>&ndash;&gt;-->
  <!--<tr *ngIf="dataIndex == 0">-->
  <!--<td colspan="4">无数据</td>-->
  <!--</tr>-->
  <!--<tr  [style.display]="dataIndex == 1?'':'none'"></tr>-->
  <!--</table>-->
  <!--&lt;!&ndash;<page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>&ndash;&gt;-->
  <!--</div>-->
</div>
