<div class="container">
    <div class="tabs">
        <div id="tab_item1" class="tab_item" (click)="changeTab(0)" [class.focus] = "tabIndex==0">资源状态</div>
        <div id="tab_item2" class="tab_item" (click)="changeTab(1)" [class.focus] = "tabIndex==1">任务状态</div>
        <div id="tab_item3" class="tab_item" (click)="changeTab(2)" [class.focus] = "tabIndex==2">数据集状态</div>
    </div>
    <div [style.display]="tabIndex==0?'':'none'" id="resourceDiv" class="status">
        <div class="total">
            <div class="cpu">
                <div class="resourceTypeTitle"><img src="../assets/overview/jiahao.png"/><span>GPU01</span>
                  <div class="checkStatus">任务状态查询</div>
                </div>
                <div class="chart linechart">
                    <h4>GPU使用率(%)</h4>
                    <!--<div class="cpuSvg" id="cpu_utilization_line">
                        <svg id="lineChartSVG" class="lineChart&#45;&#45;svg">
                        <defs>
                            <linearGradient id="lineChart&#45;&#45;gradientBackgroundArea" x1="0" x2="0" y1="0" y2="1">
                                <stop class="lineChart&#45;&#45;gradientBackgroundArea&#45;&#45;top" offset="0%" />
                                <stop class="lineChart&#45;&#45;gradientBackgroundArea&#45;&#45;bottom" offset="100%" />
                            </linearGradient>
                        </defs>
                        </svg>
                    </div>-->
                  <div id="chartdiv1" [style.width.%]="108" [style.height.vh]="31"></div>
                </div>
                <div class="chart piechart">
                    <h4>GPU内存(M)</h4>
                    <div class="pie" id="cpu_storage_pie">
                    </div>
                    <div class="pieDescrip" id="proportion">
                    </div>
                </div>
            </div>
<!--            <div class="gpu">
                <div class="resourceTypeTitle">GPU资源</div>
                <div class="gpu_content" *ngFor="let gpu of gpuArray;let i = index;">
                    &lt;!&ndash;添加加这一部分就行&ndash;&gt;
                    <div class="chart linechart">
                        <h4>GPU波动(GPU{{i+1}})</h4>
                        <p>ID: {{gpu.id}} &nbsp; NAME: {{gpu.name}}</p>
                        <div class="gpuSvg" id="gpu_utilization_line{{gpu.id}}">
                            <svg id="lineChartSVG{{gpu.id}}" class="lineChart&#45;&#45;svg">
                                <defs>
                                    <linearGradient id="lineChart&#45;&#45;gradientBackgroundArea" x1="0" x2="0" y1="0" y2="1">
                                        <stop class="lineChart&#45;&#45;gradientBackgroundArea&#45;&#45;top" offset="0%" />
                                        <stop class="lineChart&#45;&#45;gradientBackgroundArea&#45;&#45;bottom" offset="100%" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    &lt;!&ndash;到这&ndash;&gt;
                    <div class="chart piechart">
                        <h4>GPU Storage(GPU{{i+1}})</h4>
                        <p>总空间: {{gpu.totalGlobalMem/1000000000}} G</p>
                        <div class="pie" id="gpu_storage_pie{{gpu.id}}"></div>
                        <div class="pieDescrip" id="proportion{{gpu.id}}"></div>
                    </div>
                </div>
            </div>-->
            <!-- <div class="cpu_job">
                <div class="usageRateFluctuate fluctuate_1" id="cpuwave">
                    <h4>GPU使用率波动(GPU01)</h4>
                    <p>subtitle appear here if it exits</p>
                    <div class="cpuwaveSvg" id="cpuwaveSvg">
                        <svg id="lineChartSVG2" class="lineChart--svg">
                            <defs>
                                <linearGradient id="lineChart--gradientBackgroundArea" x1="0" x2="0" y1="0" y2="1">
                                    <stop class="lineChart--gradientBackgroundArea--top" offset="0%" />
                                    <stop class="lineChart--gradientBackgroundArea--bottom" offset="100%" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
                <div class="cpuwaveDescription">
                    <div class="line"><div class="cube red"></div>&nbsp;&nbsp;CPU0:&nbsp;&nbsp;Current:&nbsp;&nbsp;5.87%&nbsp;&nbsp;Average:&nbsp;&nbsp;4.35% Maximum:&nbsp;&nbsp;9.15%</div>
                    <div class="line"><div class="cube yellow"></div>&nbsp;&nbsp;CPU1:&nbsp;&nbsp;Current:&nbsp;&nbsp;5.87%&nbsp;&nbsp;Average:&nbsp;&nbsp;4.35% Maximum:&nbsp;&nbsp;9.15%</div>
                    <div class="line"><div class="cube skyblue"></div>&nbsp;&nbsp;CPU2:&nbsp;&nbsp;Current:&nbsp;&nbsp;5.87%&nbsp;&nbsp;Average:&nbsp;&nbsp;4.35% Maximum:&nbsp;&nbsp;9.15%</div>
                    <div class="line"><div class="cube orange"></div>&nbsp;&nbsp;CPU3:&nbsp;&nbsp;Current:&nbsp;&nbsp;5.87%&nbsp;&nbsp;Average:&nbsp;&nbsp;4.35% Maximum:&nbsp;&nbsp;9.15%</div>
                    <div class="line"><div class="cube green"></div>&nbsp;&nbsp;MEAN CPU:&nbsp;&nbsp;Current:&nbsp;&nbsp;5.87%&nbsp;&nbsp;Average:&nbsp;&nbsp;4.35% Maximum:&nbsp;&nbsp;9.15%</div>
                </div>
            </div> -->
        </div>
      <div class="total">
        <div class="cpu">
          <div class="resourceTypeTitle"><img src="../assets/overview/jiahao.png"/><span>CPU01</span>
            <div class="checkStatus">任务状态查询</div>
          </div>
          <div class="chart linechart">
            <h4>CPU使用率(%)</h4>
            <!--<div class="cpuSvg" id="cpu_utilization_line">
                <svg id="lineChartSVG" class="lineChart&#45;&#45;svg">
                <defs>
                    <linearGradient id="lineChart&#45;&#45;gradientBackgroundArea" x1="0" x2="0" y1="0" y2="1">
                        <stop class="lineChart&#45;&#45;gradientBackgroundArea&#45;&#45;top" offset="0%" />
                        <stop class="lineChart&#45;&#45;gradientBackgroundArea&#45;&#45;bottom" offset="100%" />
                    </linearGradient>
                </defs>
                </svg>
            </div>-->
            <div id="chartdiv1" [style.width.%]="108" [style.height.vh]="31"></div>
          </div>
          <div class="chart piechart">
            <h4>CPU内存(M)</h4>
            <div class="pie" id="cpu_storage_pie">
            </div>
            <div class="pieDescrip" id="proportion">
            </div>
          </div>
        </div>
        <!--            <div class="gpu">
                        <div class="resourceTypeTitle">GPU资源</div>
                        <div class="gpu_content" *ngFor="let gpu of gpuArray;let i = index;">
                            &lt;!&ndash;添加加这一部分就行&ndash;&gt;
                            <div class="chart linechart">
                                <h4>GPU波动(GPU{{i+1}})</h4>
                                <p>ID: {{gpu.id}} &nbsp; NAME: {{gpu.name}}</p>
                                <div class="gpuSvg" id="gpu_utilization_line{{gpu.id}}">
                                    <svg id="lineChartSVG{{gpu.id}}" class="lineChart&#45;&#45;svg">
                                        <defs>
                                            <linearGradient id="lineChart&#45;&#45;gradientBackgroundArea" x1="0" x2="0" y1="0" y2="1">
                                                <stop class="lineChart&#45;&#45;gradientBackgroundArea&#45;&#45;top" offset="0%" />
                                                <stop class="lineChart&#45;&#45;gradientBackgroundArea&#45;&#45;bottom" offset="100%" />
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                </div>
                            </div>
                            &lt;!&ndash;到这&ndash;&gt;
                            <div class="chart piechart">
                                <h4>GPU Storage(GPU{{i+1}})</h4>
                                <p>总空间: {{gpu.totalGlobalMem/1000000000}} G</p>
                                <div class="pie" id="gpu_storage_pie{{gpu.id}}"></div>
                                <div class="pieDescrip" id="proportion{{gpu.id}}"></div>
                            </div>
                        </div>
                    </div>-->
        <!-- <div class="cpu_job">
            <div class="usageRateFluctuate fluctuate_1" id="cpuwave">
                <h4>GPU使用率波动(GPU01)</h4>
                <p>subtitle appear here if it exits</p>
                <div class="cpuwaveSvg" id="cpuwaveSvg">
                    <svg id="lineChartSVG2" class="lineChart--svg">
                        <defs>
                            <linearGradient id="lineChart--gradientBackgroundArea" x1="0" x2="0" y1="0" y2="1">
                                <stop class="lineChart--gradientBackgroundArea--top" offset="0%" />
                                <stop class="lineChart--gradientBackgroundArea--bottom" offset="100%" />
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="cpuwaveDescription">
                <div class="line"><div class="cube red"></div>&nbsp;&nbsp;CPU0:&nbsp;&nbsp;Current:&nbsp;&nbsp;5.87%&nbsp;&nbsp;Average:&nbsp;&nbsp;4.35% Maximum:&nbsp;&nbsp;9.15%</div>
                <div class="line"><div class="cube yellow"></div>&nbsp;&nbsp;CPU1:&nbsp;&nbsp;Current:&nbsp;&nbsp;5.87%&nbsp;&nbsp;Average:&nbsp;&nbsp;4.35% Maximum:&nbsp;&nbsp;9.15%</div>
                <div class="line"><div class="cube skyblue"></div>&nbsp;&nbsp;CPU2:&nbsp;&nbsp;Current:&nbsp;&nbsp;5.87%&nbsp;&nbsp;Average:&nbsp;&nbsp;4.35% Maximum:&nbsp;&nbsp;9.15%</div>
                <div class="line"><div class="cube orange"></div>&nbsp;&nbsp;CPU3:&nbsp;&nbsp;Current:&nbsp;&nbsp;5.87%&nbsp;&nbsp;Average:&nbsp;&nbsp;4.35% Maximum:&nbsp;&nbsp;9.15%</div>
                <div class="line"><div class="cube green"></div>&nbsp;&nbsp;MEAN CPU:&nbsp;&nbsp;Current:&nbsp;&nbsp;5.87%&nbsp;&nbsp;Average:&nbsp;&nbsp;4.35% Maximum:&nbsp;&nbsp;9.15%</div>
            </div>
        </div> -->
      </div>
    </div>
    <div [style.display]="tabIndex==1? '':'none'" id="taskDiv" class="status">
<!--        <table id="jobTable" class="table">
            <th class="name">任务名称</th>
            <th class="scene">场景名称</th>
            <th class="time">创建时间</th>
            <th class="condition">状态</th>
            <th class="progress">进度</th>
            <tr *ngFor="let jobInfo of jobArray">
                <td>{{jobInfo.jobName}}</td>
                <td>{{jobInfo.sences==null?'无设置':jobInfo.sences}}</td>
                <td>{{jobInfo.createTime==null?'无设置':jobInfo.createTime}}</td>
                <td>{{jobInfo.jobPath}}</td>
                <td>{{jobInfo.dataSet==null?'无设置':jobInfo.dataSet}}%</td>
                &lt;!&ndash; <td>{{jobInfo.job_status}}</td>
                <td>{{jobInfo.job_progress}}%</td> &ndash;&gt;
            </tr>
        </table>
        <div class="bottom_menu">
            <div class="label">
                TotalPages:
                <span>{{createdJob.totalPages}}</span>
            </div>
            <div class="selectDiv" >
                <select class="select_pagemax" [(ngModel)]="pageMaxItem" (ngModelChange)="maxItemChange();">
                    <option value="10" selected="{{pageMaxItem==10?'selected':''}}">10</option>
                    <option value="20" selected="{{pageMaxItem==20?'selected':''}}">20</option>
                    <option value="50" selected="{{pageMaxItem==50?'selected':''}}">50</option>
                </select>
            </div>
            <div *ngIf="page!=createdJob.totalPages" class="pagebtn" (click)="nextPage()">Next</div>
            <div class="pagebtn" (click)="previousPage()">Previous</div>
        </div>-->
      <div class="selectContainer">
        <select class="select" name="scene_select" [(ngModel)]="student" (ngModelChange)="student=$event;selectChange()">
          <option value="{{scene.id}}" *ngFor=" let scene of SceneInfo" >{{scene.translation}}</option>
        </select>
        <img src="../assets/taskStatus/select.png">
      </div>

      <taskStatus [statuss]="statuss"></taskStatus>
    </div>
  <div [style.display]="tabIndex==2? '':'none'" id="dateTask" class="status">
      <div class="disk">
        <span class="diskSpace">磁盘剩余空间：</span><span class="spaceOut"><span class="spaceIn"></span></span><span class="diskCapacity">100G</span>
      </div>
    <table id="jobTable" class="table">
      <th class="name">数据集名称</th>
      <th class="scene">创建者</th>
      <th class="time">创建时间</th>
      <th class="condition">存储空间</th>
     <!-- <tr *ngFor="let jobInfo of Jobs_current;let i = index;">
        <td>{{jobInfo.jobName}}</td>
        <td>{{jobInfo.sences==null?'无设置':jobInfo.sencesName}}</td>
        <td>{{jobInfo.createTime==null?'无设置':jobInfo.createTime}}</td>
        <td>{{jobInfo.status}}</td>
        <td>{{jobInfo.percent==null?'0.0':jobInfo.percent|percent:'.2'}}</td>
        <td>
          <a class="showDetailBtn" routerLinkActive="active" routerLink="/jobDetail/{{jobInfo.jobPath}}">查看详情</a>
        </td>
      </tr>-->
      <tr>
        <td>数据集1</td>
        <td>admin</td>
        <td>2016.01.11 08.12.34</td>
        <td>12G</td>
      </tr>
      <tr>
        <td>数据集2</td>
        <td>admin</td>
        <td>2016.01.11 08.12.34</td>
        <td>168M</td>
      </tr>
    </table>
  </div>
</div>
