<div class="container">
    <div class="detailPage">
        <div class="tabs">
          <div id="tab_item1" class="tab_item"><a routerLinkActive="active" routerLink="/jobcreation" >训练任务管理</a></div>
          <div class="tab_item" [class.focus]="true">任务管理详情</div>
        </div>
        <div class="status">
            <div class="detailLine">
                <span>任务名称:&nbsp;&nbsp;{{job.jobName}}</span>
                <span>场景名称:&nbsp;&nbsp;{{job.sences==null?'未设置':job.sences_name}}</span>
                <span>创建时间:&nbsp;&nbsp;{{job.createTime==null?'未设置':job.createTime}}</span>
                <span>状态:&nbsp;&nbsp;{{job.status==null?'未设置':job.status}}</span>
            </div>
            <div class="detailLine">
                <span *ngIf="job">创建者:&nbsp;&nbsp;{{user.login}}</span>
            </div>
            <div class="lossLine">
                <div class="lossCard">
                    <div class="title">LOSS</div>
                    <div class="sub_title"><span class="span_not_val">--loss</span> & <span class="span_val">--val_loss</span></div>
                    <div class="chart" id="chart1">
                        <svg id="lineChartSVG" class="lineChart--svg">
                            <!-- <defs>
                                <linearGradient id="lineChart--gradientBackgroundArea" x1="0" x2="0" y1="0" y2="1">
                                    <stop class="lineChart--gradientBackgroundArea--top" offset="0%" />
                                    <stop class="lineChart--gradientBackgroundArea--bottom" offset="100%" />
                                </linearGradient>
                            </defs> -->
                        </svg>
                    </div>
                </div>
                <div class="lossCard">
                    <div class="title">Accuracy</div>
                    <div class="sub_title"><span class="span_not_val">--acc</span> & <span class="span_val">--val_acc</span></div>
                    <div class="chart" id="chart2">
                        <svg id="lineChartSVG" class="lineChart--svg">
                            <!-- <defs>
                                <linearGradient id="lineChart--gradientBackgroundArea2" x1="0" x2="0" y1="0" y2="1">
                                    <stop class="lineChart--gradientBackgroundArea--top" offset="0%" />
                                    <stop class="lineChart--gradientBackgroundArea--bottom" offset="100%" />
                                </linearGradient>
                            </defs> -->
                        </svg>
                    </div>
                </div>
            </div>
            <!--<div *ngFor="let item of jobResultParam">-->
                <!--<div class="propertyCard">-->
                    <!--<div class="icon"></div>-->
                    <!--<div class="cardInline">{{item.key}}</div>-->
                    <!--<div class="cardInline">{{item.value}}</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="propertyCard">
                <div class="icon"></div>
                <div class="cardInline"> Samples/Sec</div>
                <div class="cardInline">{{jobResult.samples_sec}}</div>
            </div>
            <div class="propertyCard">
                <div class="icon"></div>
                <div class="cardInline">Sec/Epoch</div>
                <div class="cardInline">{{jobResult.sec_epoch}}</div>
            </div>
            <div class="propertyCard">
                <div class="icon"></div>
                <div class="cardInline">Sample Process</div>
                <div class="cardInline" *ngIf="jobResult.sample_process">{{jobResult.sample_process*100}}%</div>
            </div>
            <div class="propertyCard">
                <div class="icon"></div>
                <div class="cardInline">LOSS: (train/validation)</div>
                <div class="cardInline">{{jobResult.loss}}</div>
                <div class="cardInline">{{jobResult.val_loss}}</div>
            </div>
            <div class="propertyCard">
                <div class="icon"></div>
                <div class="cardInline">Accuracy: (train/validation)</div>
                <div class="cardInline">{{jobResult.acc}}</div>
                <div class="cardInline">{{jobResult.val_acc}}</div>
            </div>
            <div class="propertyCard">
                <div class="icon"></div>
                <div class="cardInline">Epoch:</div>
                <div class="cardInline">{{jobResult.epoch}}</div>
            </div>
        </div>
    </div>
</div>
