<div class="container">
<!--  <input type="text" [formControl]="loginControl">
  <p>{{loginControl.value}}</p>-->
  <form [formGroup]="loginForm">
    <input type="text" formControlName="name"/>
    <input type="text" formControlName="pass"/>
  </form>
  <p>{{loginForm.value|json}}</p>
<!--  <input type="radio" (click)="color='green'" name="colors"/>
  <input type="radio" (click)="color='yellow'" name="colors"/>
  <input type="radio" (click)="color='blue'" name="colors"/>-->
  <div MyBeautifulBackground [YourBeautifulBackground]="'yellow'">这是一个按钮</div>
</div>
