<div class="container">
<form>
  <ul>
    <li>
      <label>姓名：</label>
      <input type="text" name="name" [(ngModel)]="name"/>
    </li>
    <li>
      <label>电话：</label>
      <input type="text" name="tel" [(ngModel)]="tel"/>
    </li>
    <li>
      <input type="radio" name="sex" [(ngModel)]="sexValue" value="female"/>男
      <input type="radio" name="sex" [(ngModel)]="sexValue" value="male"/>女
      {{sexValue}}
    </li>
    <li>
      <input type="checkbox" name="lock" [(ngModel)]="checkValue"/>
      {{checkValue}}
    </li>
    <li>
      <button type="submit">添加</button>
      <button type="button">取消</button>
    </li>
    <li>
      <select name="interestValue" [(ngModel)]="interestValue">
        <option *ngFor="let item of interests" [value]="item.value">{{item.display}}</option>
      </select>
    </li>
  </ul>
</form>
</div>
