@charset "UTF-8";

.bg{
  background-color: #eeeeee;
}


.nav{
  width:97%;;
  background-color: #fff;
  height:25%;
  margin:30px;

}
.span_not_val{
    color: #d1655d;
}
.span_val{
    color: #23a880;
}
.tabs{
  position: relative;
  height: 60px;
  background-color: #131314;
  margin-bottom: 0px;
  border: 0px;
}
.tab_item{
    position: relative;
    top: 20px;
    border-radius: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 0px;
    width: 150px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: normal;
    font-family: "MicrosoftYaHei";
    color: #5e5e5f;
    background-color: #0b0b0b;
    cursor: pointer;
    margin-right: 0px;
}
.tab_item a{
    text-decoration: none;
    color: #5e5e5f;
}
.sm_tab_item{
    position: relative;
    border-radius: 8px;
    top: 11px;
    height: 38px;
    line-height: 38px;
    color: #ced1d2;
    background-color: #58585a;
    margin-left: 20px;
    font-size: 20px;
}
.focus{
  background-color: #19191a;
  color: #6e7ae8;
  font-weight: normal;
}

/*detail*/
.detailLine{
    padding-top: 22px;
    margin-left: 30px;
    width: 97%;
    height: 28px;
}
.detailLine:last-child{
  padding-bottom: 22px;

}
.detailLine span{
    font-family: "MicrosoftYaHei";
    font-size: 16px;
    color:#333333;
    width: 25%;
    float: left;
}
.lossLine{
    width: 100%;
    height: 443px;
}
.lossLine .lossCard{

    width: 47.6%;
    /*margin-left: 30px;*/
    height: 100%;
    border-radius: 5px;
    /*margin-right: 55px;*/
  margin-left: 30px;
  margin-bottom: 25px;

  float: left;
    background-color: #fff;
}

.lossLine .lossCard:last-child{
  margin-left: 30px;
}
.lossLine .lossCard .title{
    position: relative;
    top: 10px;
    font-family: "MicrosoftYaHei";
    font-size: 16px;
    color: #666666;
    margin-left: 25px;
    min-height: 22px;
}
.lossLine .lossCard .sub_title{
    position: relative;
    top: 10px;
    font-family: "MicrosoftYaHei";
    font-size: 19px;
    color: #b3b3b3;
    margin-left: 25px;
}
.lossLine .lossCard .chart{
    margin-left: 0px;
    margin-top: 10px;
    width: 55%;
    height: 420px;
}
.lossLine .lossCard .chart .axisLabel{
    font-family: "MicrosoftYaHei";
    font-size: 16px;
    color: #666666;

}
.lossLine .lossCard .chart .axis{
    font-size: 16px;
    color: #e1e1e1;
}
.log{

}

.log span{
  display: block;
  background-color: #fff;
  width: 94%;
  margin-left: 30px;
  color: #333333;
  font-size: 16px;
  text-indent: 2px;
  padding:33px;
  overflow: auto;
  word-wrap:break-word;
  height: 300px;
}

.log h3{
  font-family: "MicrosoftYaHei";
  margin-left: 63px;
  margin-top: 15px;
  font-size: 16px;
  color:#333333;
}


/***************************/
/**/
.propertyLine{
  width: 97%;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.propertyCard{
    display: inline;
    width: 24%;
    height: 183px;
    /*margin-right: 25px;*/
    /*margin-top: 30px;*/
    float: left;
    background-color: #fff;
    border-radius: 5px;
}
.propertyCard .icon{
    /*background-image: url('../../../assets/jobcreation/icon.png');*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 21px;
    height: 21px;
    margin-left: 21px;
    margin-top: 21px;
    float: left;
}
.propertyCard .cardInline{
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: -10px;
    margin-left: 20px;
    color: #333333;
}

.propertyCard .cardInline_value{
  font-size: 36px;
  color: #333333;
  text-align: center;
  line-height: 120px;
}


.tab{
  width:97%;
  background-color: #fff;
  height: 50px;
  margin: 30px;
  line-height: 50px;
  display: flex;
}

.tab a{
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  margin-left: 30px;
  margin-right: 52px;
  font-family: MicrosoftYaHei;
  padding-bottom: 11px;
  width: 116px;
  display: block;
  text-align: center;
}

.current_tab{
  color: #ff7c35 !important;
  border-bottom: solid 3px #ff7c35;
}

.publish{
  margin-top: 80px;
  margin-right: 60px;
}
.leftBox{
  width: 20%;
  float: left;
  height: 100%;
}
.chain{
  padding:30px 28px 26px 30px;
  font-size: 0.73vw;
  color: #333333;
  word-break: break-all;
}
.alg_choose{
  height: 1050px;
}
.pluginArr_item{
  width:146px;
  margin:0 auto;
  height: 46px;
  line-height: 46px;
  text-align: center;
  margin-top: 20px;
  background: #ff7c35;
  color: #fefefe;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  font-size: 0.73vw;
}
.pluginArr_item img{
  display: inline-block;
  vertical-align: middle;
  padding:0 6px;
}
.pluginArr_item span{
  padding-right:6px;
  word-break: break-all;
}
.pluginArr_item .focus{
  cursor: default;
  background-color: pink;
}
.chains{
  overflow: auto;
  width: 20%;
  height: 100%;
  float: left;
  border-left: 1px solid #e8e8e8;
}
.alg_choose_descrip{
  color: #333333;
  font-size: 0.73vw;
  padding:30px 28px 8px 30px;
}
.alg_choose_drag{
  color: #ee8348;
  font-size:0.62vw;
  margin-left:30px;
  margin-bottom: 33px;
}
.alg_choose_list{
  color: #eeeee1;
  /*margin-bottom: 50px;*/
  height: 90%;
}
.content{
  overflow: auto;
  width:36%;
  height: 100%;
  float: left;
  border-left: 1px solid #e8e8e8;
}
.rightBox{
  width: 22%;
  float: right;
  height: 100%;
  color: #333333;
}

.layer_params{
  padding:10px;
}
.layer_params input{
  background: transparent;
  /* border: 0px;*/
  border: 1px solid #e8e8e8;
  height: 35px;
  width: 90%;
  color: white;
  outline-style: none;
}
.status{
  position: relative;
  height: 1402px;
}
.layer_params select{
  background: #444444 0px 0px;
  color: #ffffff;
  font-size: 14px;
  border: #000000 1px solid;
  padding: 5px;
}

.layer_params option{
  background: #444444 0px 0px;
  color: #ffffff;
}

