<div class="image-container">
<div class="percent">
    <span>展示结果：</span>
  </div>
  <table class="table">
    <th>上传内容</th>
    <th>显示结果</th>
    <tbody>
    <tr class="showImage">
      <td class="leftImg">
        <div class="imgs">
          <span style="display: inline-block" *ngFor="let img of inImgs;let i=index">
          <img src="{{SERVER_URL}}/api/file?filePath={{img}}" alt="" class="img" *ngFor="let img of inImgs;let i=index"  [@imgMove]="ImgState1(i)" width="100%" height="400px">
          </span>
        </div>
      </td>
      <td class="rightImg">
        <div class="imgs">
          <span style="display: inline-block" *ngFor="let img of outImgs;let i=index">
          <img src="{{SERVER_URL}}/api/file?filePath={{outputImg(img)}}" alt="" class="img" *ngFor="let img of outImgs;let i=index" (mySwipe)="Change($event)" [@imgMove]="ImgState(i)" width="100%" height="400px">
          </span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
