@charset "UTF-8";
.tabs{
  position: relative;
  height: 60px;
  background-color: #131314;
  margin-bottom: 0px;
  border: 0px;
}
.tab_item{
    position: relative;
    top: 20px;
    border-radius: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 0px;
    width: 150px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: normal;
    font-family: "MicrosoftYaHei";
    color: #5e5e5f;
    background-color: #0b0b0b;
    cursor: pointer;
    margin-right: 0px;
}
.tab_item a{
    text-decoration: none;
    color: #5e5e5f;
}
.sm_tab_item{
    position: relative;
    border-radius: 8px;
    top: 11px;
    height: 38px;
    line-height: 38px;
    color: #ced1d2;
    background-color: #58585a;
    margin-left: 20px;
    font-size: 20px;
}
.focus{
  background-color: #19191a;
  color: #6e7ae8;
  font-weight: normal;
}

/*detail*/
.detailLine{
    position: relative;
    top: 25px;
    left: 20px;
    width: 100%;
    height: 28px;
    margin-bottom: 25px;
}
.detailLine span{
    font-family: "MicrosoftYaHei";
    font-size: 20px;
    color: #eaeaea;
    width: 25%;
    float: left;
}
.lossLine{
    position: relative;
    top: 25px;
    width: 100%;
    height: 490px;
    left: 20px;
    margin-bottom: 25px;
}
.lossLine .lossCard{
    width: 45%;
    height: 100%;
    margin-right: 55px;
    float: left;
    background-color: #151515;
}
.lossLine .lossCard .title{
    position: relative;
    top: 10px;
    font-family: "MicrosoftYaHei";
    font-size: 24px;
    color: #ffffff;
    margin-left: 25px;
}
.lossLine .lossCard .sub_title{
    position: relative;
    top: 10px;
    font-family: "MicrosoftYaHei";
    font-size: 19px;
    color: #b3b3b3;
    margin-left: 25px;
}
.lossLine .lossCard .chart{
    margin-left: 0px;
    margin-top: 10px;
    width: 755px;
    height: 420px;
}
.lossLine .lossCard .chart .axisLabel{
    font-family: "MicrosoftYaHei";
    font-size: 16px;
    color: #e9e9e9;

}
.lossLine .lossCard .chart .axis{
    font-family: "MicrosoftYaHei";
    font-size: 16px;
    color: #e1e1e1;
}


/***************************/
/**/
/*.propertyLine{
    position: relative;
    top: 25px;
    left: 20px;
    width: 100%;
    height: 139px;
}*/
.propertyCard{
    position: relative;
    width: 370;
    height: 139px;
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 25px;
    float: left;
    background-color: #151515;
    border: 1px solid #313131;
}
.propertyCard .icon{
    background-image: url('images/jobcreation/icon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 21px;
    height: 21px;
    margin-left: 21px;
    margin-top: 21px;
    float: left;
}
.propertyCard .cardInline{
    font-size: 20px;
    margin-top: 21px;
    margin-bottom: -10px;
    margin-left: 42px;
    color: #d8d8d8;
}
