@charset "UTF-8";
a{
    text-decoration: none;
    color: white;
}
.networkBox{
    width: 100%;
    background-color: transparent;
    color: white;
    min-height: 800px;
}
.spaceCnt{
  width:1%;
  background: #eeeeee;
  height:100%;
  float: left;
}
.tabs{
  height: 39px;
  background-color: #ffffff;
  margin:20px 30px 0 30px;
  border: 0px;
}
.tab_item{
  position: relative;
  border: 0px;
  float: left;
  margin-right: 20px;
  margin-left: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  width:104px;
  font-family: "MicrosoftYaHei";
  color: #333333;
  height:39px;
  line-height: 39px;
  cursor: pointer;
  outline: none;
}
.tabs .tab_btn{
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}
.smallBtn{
  display: inline-block;
  font-size: 14px;
  color: #666666;
  width:74px;
  line-height: 28px;
  height:28px;
  border:1px solid #d3d3d3;
  border-radius: 5px;
  background: #eeeeee;
  text-decoration: none;
  text-align: center;
}
.focus{
  color: #ff7c35;
  font-weight: normal;
  border-bottom: 2px solid #ff7c35;
}
.tab_item a{
  text-decoration: none;
  color: #ffffff;
}
.right{
    float: right;
}
.status{
  background-color: #ffffff;
  margin:20px 30px 0 30px;
  height: 1402px;
  border-radius: 5px;
  min-height: 1000px;
}
/*left*/
.leftBox{
    width: 22%;

    float: left;
    height: 100%;
}
.chains{
  overflow: auto;
  width: 20%;
  height: 100%;
  float: left;
  background-color: #ffffff;
}
.alg_choose_descrip{
  color: #333333;
  font-size: 14px;
  padding:30px 28px 8px 30px;
}
.alg_choose_drag{
  color: #ee8348;
  font-size:12px;
  margin-left:30px;
  margin-bottom: 33px;
}
.alg_choose_list{
  color: #eeeee1;
  /*margin-bottom: 50px;*/
  height: 90%;
}
.condition{
    height: 250px;
    border-bottom: 1px solid #191919;
    margin-left: 20px;
}
.name{
    color: #516af8;
    font-size: 23px;
    margin-top: 40px;
    margin-bottom: 35px;
}
.description{
    color: #eeeee1;
    font-size: 18px;
    margin-right: 20px;
}
.alg_choose{
}
.alg_name{
    color: #eeeee1;
    font-size: 20px;
    margin-bottom: 16px;
    line-height: 70px;
    color: skyblue;
    text-align: center;

}
.alg_plug{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.alg_plug img{

}
.alg_plug span{
    color: #eeeee1;
    font-size: 18px;
}
/**/
.content{
    overflow: auto;
    width: 77%;
    height: 1000px;
    float: left;
}

.content2{
    width: 930px;
}

/**/
.rightBox{
    width: 22%;
    float: right;
    height: 100%;
    color: #333333;
}
.rightBox2{
    width: 250px;
}
.layer_name{
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 40px;
    font-size: 25px;
}
.layer_params{
    margin-left: 20px;
    margin-bottom: 10px;
}
.layer_param{
    margin-bottom: 15px;
}
.layer_param .layer_param_name{
    font-size: 20px;
    margin-bottom: 5px;
}
.layer_params input{
    background: transparent;
    border: 0px;
    border-bottom: 1px solid grey;
    height: 35px;
    width: 100%;
    color: #333333;
    outline-style: none;
}

.layer_params select{
    background: #444444 0px 0px;
    font-size: 14px;
    border: #000000 1px solid;
    padding: 5px;
}

.layer_params option{
    background: #444444 0px 0px;
}
